In [3]:
import pandas as pd 
import numpy as np

In [4]:
#BASIC DESCRPITION OF THE DATABASE

In [5]:
df = pd.read_csv('playstore.csv')
df #gives the entire dataset 
df.head()

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,Free,10000.0,0.0,Everyone
1,Coloring book moana,FAMILY,3.9,974.0,14.0,Free,500000.0,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.0,Free,5000000.0,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25.0,Free,50000000.0,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.0,Free,100000.0,0.0,Everyone

# 1) Basic description of the dataset

In [5]:
df.shape #more the time on the data better will be the algorithm

(9648, 9)

In [6]:
df.describe() # helpful in decribing the data by finding the min max and mean values present in the data

            rating        review         size      installs         price
count  9648.000000  9.648000e+03  9648.000000  9.648000e+03   9648.000000
mean      4.207556  2.168957e+05    18.948694  7.802970e+06     82.334473
std       0.500774  1.831767e+06    20.788538  5.379994e+07   1264.574840
min       1.000000  0.000000e+00     1.000000  0.000000e+00      0.000000
25%       4.000000  2.500000e+01     5.000000  1.000000e+03      0.000000
50%       4.400000  9.740000e+02    10.000000  1.000000e+05      0.000000
75%       4.500000  2.944925e+04    25.000000  1.000000e+06      0.000000
max       5.000000  7.812821e+07   100.000000  1.000000e+09  30000.000000

In [7]:
df.info() # gives the basic information of the given dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             9648 non-null   object
 1   category        9648 non-null   object
 2   rating          9648 non-null   float64
 3   review          9648 non-null   int64
 4   size            9648 non-null   int64
 5   type            9648 non-null   object
 6   installs        9648 non-null   int64
 7   price           9648 non-null   int64
 8   content_rating  9648 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 678.5+ KB

In [8]:
df['app'].describe() #decribing a data of a particular column which is the app column `

count                                               9648
unique                                              9648
top       Photo Editor & Candy Camera & Grid & ScrapBook
freq                                                   1
Name: app, dtype: object

In [9]:
df['category'].describe() #decribing a data of a particular column which is the category column

count       9648
unique        33
top       FAMILY
freq        1902
Name: category, dtype: object

In [10]:
df['rating'].describe() #decribing a data of a particular column which is the rating column

count    9648.000000
mean        4.207556
std         0.500774
min         1.000000
25%         4.000000
50%         4.400000
75%         4.500000
max         5.000000
Name: rating, dtype: float64

In [11]:
df['review'].describe() # #decribing a data of a particular column which is the reviews column

count    9.648000e+03
mean     2.168957e+05
std      1.831767e+06
min      0.000000e+00
25%      2.500000e+01
50%      9.740000e+02
75%      2.944925e+04
max      7.812821e+07
Name: review, dtype: float64

In [12]:
df['size'].describe() #decribing a data of a particular column which is the size column

count    9648.000000
mean       18.948694
std        20.788538
min         1.000000
25%         5.000000
50%        10.000000
75%        25.000000
max       100.000000
Name: size, dtype: float64

In [13]:
df['type'].describe() #decribing a data of a particular column which is the type column

count     9648
unique       2
top       Free
freq      8897
Name: type, dtype: object

In [14]:
df['installs'].describe() #decribing a data of a particular column which is the installs column

count    9.648000e+03
mean     7.802970e+06
std      5.379994e+07
min      0.000000e+00
25%      1.000000e+03
50%      1.000000e+05
75%      1.000000e+06
max      1.000000e+09
Name: installs, dtype: float64

In [15]:
df['price'].describe() #decribing a data of a particular column which is the price column

count     9648.000000
mean        82.334473
std       1264.574840
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      30000.000000
Name: price, dtype: float64

In [16]:
df['content_rating'].describe() #decribing a data of a particular column which is the content_rating column

count         9648
unique           6
top       Everyone
freq          7893
Name: content_rating, dtype: object

# 2) dealing with the null values

In [18]:
df.isnull().sum()

app               0
category          0
rating            0
review            0
size              0
type              0
installs          0
price             0
content_rating    0
dtype: int64

In [24]:
pip freeze

absl-py==1.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
constantly==15.1.0
cryptography==37.0.2
cssselect==1.1.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.6.0
Flask==2.2.2
fonttools==4.33.3
google-auth==2.10.0
google-auth-oauthlib==0.5.2
gspread==4.0.0
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itemadapter==0.5.0
itemloaders==1.0.4
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.8.0
kiwisolver==1.4.2
legacy==0.1.6
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mediapipe==0.8.10
mistune==0.8.4
more-itertools==8.13.0
MouseInfo==0.1.3
nbclient==0.6.2
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
pi==0.1.2
pickleshare==0.7.5
Pillow==9.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
Protego==0.2.1
protobuf==3.20.1
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.21
PyDispatcher==2.0.5
PyGetWindow==0.0.9
Pygments==2.12.0
PyMsgBox==1.0.9
pyOpenSSL==22.0.0
pyparsing==3.0.8
pyperclip==1.8.2
pypi==2.1
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
python-dateutil==2.8.2
pytweening==1.0.4
pytz==2022.1
pywhatkit==5.4
pywin32==304
pywinpty==2.0.5
pyzmq==22.3.0
qrcode==7.3.1
qtconsole==5.3.0
QtPy==2.1.0
queuelib==1.6.2
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.8.0
Scrapy==2.6.1
Send2Trash==1.8.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
stack-data==0.2.0
style==1.1.0
terminado==0.13.3
Theano==1.0.5
threadpoolctl==3.1.0
tinycss2==1.1.1
tldextract==3.3.0
torch==1.12.0
tornado==6.1
traitlets==5.1.1
tweepy==4.10.0
Twisted==22.4.0
twisted-iocpsupport==1.0.2
typing_extensions==4.2.0
update==0.0.1
urllib3==1.26.9
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.6.0
wikipedia==1.4.0
zope.interface==5.4.0
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scikit-learn in c:\users\raju namdev gugle\appdata\local\programs\python\python310\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\raju namdev gugle\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\raju namdev gugle\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\raju namdev gugle\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\raju namdev gugle\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=3e57da27fe50527eeb61630588d1e3415cce1a084b7556d42ee5d418315f93fd
  Stored in directory: c:\users\raju namdev gugle\appdata\local\pip\cache\wheels\9b\13\01\6f3a7fd641f90e1f6c8c7cded057f3394f451f340371c68f3d
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\RAJU NAMDEV GUGLE\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [27]:
from sklearn.impute import SimpleImputer

In [28]:
#strategy to remove the null values from the dataset if it exist else
imputer = SimpleImputer(missing_values =  np.nan,strategy='most_frequent')
rating = np.reshape(df['rating'].values,())
imputer.fit(rating) # fitting the data 
rating = imputer.transform(rating)# what is transform

# 3) remove the un-neccessary columns/data

In [ ]:
del df['col_name']

# 4) analysis 
## 4.1) analyse the rating

In [40]:
t = 0
for i in df['rating']:
    t += i
ratings = (int(t))/len(df)

In [41]:
round(ratings,2)

4.21

## 4.2) number of apps with rating 5

In [44]:
c= 0 
for i in df['rating']:
    if i == 5.0:
        c += 1
print(c)

271

# 4.3) number of apps with rating from 4 to 4.5

In [45]:
c= 0
for i in df['rating']:
    if (i >=4 and i<=4.5):
        c += 1
print(c)

6041

In [46]:
# 4.4) number of apps with rating in a specific range

In [47]:
def in_range(low,high):
    c = 0
    for i in df['rating']:
        if i>=low and i <= high:
            c+=1 
    return c

In [52]:
print('1-1.5',in_range(1,1.5))
print('1.5-2',in_range(1.5,2))
print('2-2.5',in_range(2,2.5))
print('2-5.5',in_range(2.5,3))
print('3-3.5',in_range(3,3.5))
print('3.5-4',in_range(3.5,4))
print('4-4.5',in_range(4,4.5))
print('4.5-5',in_range(4.5,5))

1-1.5 23
1.5-2 46
2-2.5 93
2-5.5 232
3-3.5 594
3.5-4 1704
4-4.5 6041
4.5-5 2547

# 5) Analysis - Reviews

In [56]:
df['review']

0          159
1          974
2        87510
3       215644
4          967
         ...
9643        38
9644         4
9645         3
9646       114
9647    398307
Name: review, Length: 9648, dtype: int64

# 5.1) average, maximum and minimum review

In [101]:
c= 0
for i in df['review']:
    c += i

print('total review : ',c)
print('average review : ',int(c/len(df)))     # average of reviews
print('maximum review : ',max(df['review']))  # maximum review
print('minimum review : ',min(df['review']))  # minimum review

total review :  2092609252
average review :  216895
maximum review :  78128208
minimum review :  0

# 5.2) number of apps with more than average no of reviews.

In [105]:
avg = c/len(df)
add = 0
for j in df['review']:
    if j <= avg:
        add += j
print(add)

146122181

In [100]:
df

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,Free,10000,0,Everyone
1,Coloring book moana,FAMILY,3.9,974,14,Free,500000,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,Free,5000000,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,Free,50000000,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,Free,100000,0,Everyone
...,...,...,...,...,...,...,...,...,...
9643,Sya9a Maroc - FR,FAMILY,4.5,38,53,Free,5000,0,Everyone
9644,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3,Free,100,0,Everyone
9645,Parkinson Exercices FR,MEDICAL,4.4,3,9,Free,1000,0,Everyone
9646,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,10,Free,1000,0,Mature 17+
9647,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19,Free,10000000,0,Everyone

In [73]:
df.size

86832

# 6) analysis - size

In [86]:
df.head()

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,Free,10000,0,Everyone
1,Coloring book moana,FAMILY,3.9,974,14,Free,500000,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,Free,5000000,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,Free,50000000,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,Free,100000,0,Everyone

In [87]:
df['size']

0       19
1       14
2        8
3       25
4        2
        ..
9643    53
9644     3
9645     9
9646    10
9647    19
Name: size, Length: 9648, dtype: int64

# total size , maximum , minimum and average

In [110]:
t = 0
for i in df['size']:
    t += i
print('total size :',t)
print('average size :',round(t/len(df),2))
print('maximum size :',max(df['size']))
print('minimum size :',min(df['size']))

total size : 182817
average size : 18.95
maximum size : 100
minimum size : 1

In [111]:
df

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,Free,10000,0,Everyone
1,Coloring book moana,FAMILY,3.9,974,14,Free,500000,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,Free,5000000,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,Free,50000000,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,Free,100000,0,Everyone
...,...,...,...,...,...,...,...,...,...
9643,Sya9a Maroc - FR,FAMILY,4.5,38,53,Free,5000,0,Everyone
9644,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3,Free,100,0,Everyone
9645,Parkinson Exercices FR,MEDICAL,4.4,3,9,Free,1000,0,Everyone
9646,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,10,Free,1000,0,Mature 17+
9647,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19,Free,10000000,0,Everyone

# analysis - installs

In [113]:
df['installs']

0          10000
1         500000
2        5000000
3       50000000
4         100000
          ...
9643        5000
9644         100
9645        1000
9646        1000
9647    10000000
Name: installs, Length: 9648, dtype: int64

# average , minimum , maximum

In [116]:
c = 0
for i in df['installs']:
    c +=  i
print('total size :',c)
print('average :',int(c/len(df)))
print('maximum :',max(df['installs']))
print('minimum :',min(df['installs']))

total size : 75283059317
average : 7802970
maximum : 1000000000
minimum : 0

8.1) types of application

In [122]:
typ = []
for i in df['type']:
    typ.append(i)
print(set(typ))

{'Paid', 'Free'}

# 8.2) number of apps in free and paid

In [126]:
free = 0
paid = 0
for i in df['type']:
    if i=='Free':
        free += 1
    else:
        paid += 1
        
print('paid :',paid)
print('free :',free)

paid : 751
free : 8897

In [127]:
# analysis -price

In [135]:
price = []
t = 0
for i in df['price']:
    t += i
    price.append(i)
# print(price)
print(max(price))
print(min(price))
print(t/len(df))

30000
0
82.33447346600332

In [128]:
df['price'].unique()

array([    0,   374,   299,   111,   224,   599,   449,   261,   149,
         524,   749,   561,    74,   675,   411,   750,  1874,   899,
        5999,  1274,  1124,    75,  2249,   186,   824,   112,  1499,
        1199,  2549,  5624,  2999,   296,   336,   127,   674,   150,
         291,  1949, 29999,  1349, 30000,   226,   132,   363,   357,
         120,   187,   119,   486,    96,   375,  1049, 22499, 28499,
        2849,  1424, 29249,  1492,   636,   131,  1050,  3524,  8249,
       11624,   231,   194,   360,   147,  1455,   292,   344,  1159,
         228,   974,   321,   195,   245,   345,  2174,   221,   217,
       15000,  6749,   192,  2324,   270, 29624,    94,    90,    78],
      dtype=int64)

In [10]:
df = df.dropna()

In [12]:
df.isnull().sum()

app               0
category          0
rating            0
review            0
size              0
type              0
installs          0
price             0
content_rating    0
dtype: int64

# 1) data analysis - categorical

In [17]:
df.head()

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,Free,10000.0,0.0,Everyone
1,Coloring book moana,FAMILY,3.9,974.0,14.0,Free,500000.0,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.0,Free,5000000.0,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25.0,Free,50000000.0,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.0,Free,100000.0,0.0,Everyone

In [19]:
#number of unique categories 
len(set(list(df['category'])))

33

In [21]:
#1.2) name the category 
for i in set(list(df['category'])):
    print(i)

BOOKS_AND_REFERENCE
COMICS
COMMUNICATION
ENTERTAINMENT
EVENTS
MEDICAL
FOOD_AND_DRINK
HOUSE_AND_HOME
HEALTH_AND_FITNESS
DATING
LIFESTYLE
GAME
TRAVEL_AND_LOCAL
FINANCE
PHOTOGRAPHY
NEWS_AND_MAGAZINES
PARENTING
PRODUCTIVITY
FAMILY
WEATHER
SPORTS
VIDEO_PLAYERS
AUTO_AND_VEHICLES
ART_AND_DESIGN
PERSONALIZATION
EDUCATION
SHOPPING
BUSINESS
TOOLS
BEAUTY
MAPS_AND_NAVIGATION
LIBRARIES_AND_DEMO
SOCIAL

In [43]:
#1.3)create a function to get the number of unique categories 
def nunique(data):
    return len(set(list(data)))
nunique(df['content_rating'])

6

In [44]:
# create a function to get the name of all categories 
def unique(data):
    return list(set(list(data)))
nunique(df['content_rating'])

6

In [30]:
#2) analyse categories - frequency
df.head()

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,Free,10000.0,0.0,Everyone
1,Coloring book moana,FAMILY,3.9,974.0,14.0,Free,500000.0,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.0,Free,5000000.0,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25.0,Free,50000000.0,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.0,Free,100000.0,0.0,Everyone

In [32]:
def freq(data,class_):
    c = 0
    for i in df['category']:
        if i == class_:
            c+=1
    return c

In [35]:
freq(df['category'],'ART_AND_DESIGN')

0

In [47]:
nunique(df['app'])

9648

In [48]:
len(df)-nunique(df['app'])

0

In [50]:
df['app'].unique()

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite – FREE Live Cool Themes, Hide Apps', ...,
       'Parkinson Exercices FR', 'The SCP Foundation DB fr nn5n',
       'iHoroscope - 2018 Daily Horoscope & Astrology'], dtype=object)

In [52]:
# analyse classes - automatic mode

In [55]:
df.head()

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,Free,10000.0,0.0,Everyone
1,Coloring book moana,FAMILY,3.9,974.0,14.0,Free,500000.0,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.0,Free,5000000.0,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25.0,Free,50000000.0,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.0,Free,100000.0,0.0,Everyone

In [56]:
#naive approach
unique(df['content_rating'])

['Everyone',
 'Unrated',
 'Teen',
 'Everyone 10+',
 'Adults only 18+',
 'Mature 17+']

In [57]:
freq(df['content_rating'],'Everyone')
freq(df['content_rating'],'Unrated')
freq(df['content_rating'],'Teen')
freq(df['content_rating'],'Everyone 10+')
freq(df['content_rating'],'Adults only 18+')
freq(df['content_rating'],'Mature 17+')

0

In [71]:
unique(df['content_rating'])

['Everyone',
 'Unrated',
 'Teen',
 'Everyone 10+',
 'Adults only 18+',
 'Mature 17+']

In [69]:
## 3.2 ) optimal approach

In [78]:
for i in unique(df['content_rating']):
    print(i)

Everyone
Unrated
Teen
Everyone 10+
Adults only 18+
Mature 17+

In [66]:
def auto_freq(df,col_name):
    dct = {}
    for i in unique(df[col_name]):
        dct[i] = freq(df[col_name],i)
    return dct

0

0