In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-12/IMDB%20-%20Most%20Popular%20Movie%20%26%20Series/Shows.csv')
df.head()

,Unnamed: 0,ID,Name,Year,Rating,Duration,Reviews,Director,Genre,Link
0,0,tt5491994,Planet Earth II,2016,9.5,4h 58m,139,David Attenborough|Chadden Hunter|Elizabeth White,Documentary,https://www.imdb.com/title/tt5491994/
1,1,tt0795176,Planet Earth,2006,9.4,8h 58m,100,David Attenborough|Sigourney Weaver|Nikolay Dr...,Documentary,https://www.imdb.com/title/tt0795176/
2,2,tt0903747,Breaking Bad,2008,9.4,49m,4K,Bryan Cranston|Aaron Paul|Anna Gunn,Crime|Drama|Thriller,https://www.imdb.com/title/tt0903747/
3,3,tt0185906,Band of Brothers,2001,9.4,9h 54m,929,Scott Grimes|Damian Lewis|Ron Livingston,Drama|History|War,https://www.imdb.com/title/tt0185906/
4,4,tt7366338,Chernobyl,2019,9.3,5h 30m,3.3K,Jessie Buckley|Jared Harris|Stellan Skarsgård,Drama|History|Thriller,https://www.imdb.com/title/tt7366338/

In [8]:
# 1.1) removing columns

In [9]:
del df['Unnamed: 0']
del df['ID']
del df['Year']
del df['Duration']
del df['Reviews']
del df['Link']
del df['Rating']
df.head()

,Name,Rating,Director,Genre
0,Planet Earth II,9.5,David Attenborough|Chadden Hunter|Elizabeth White,Documentary
1,Planet Earth,9.4,David Attenborough|Sigourney Weaver|Nikolay Dr...,Documentary
2,Breaking Bad,9.4,Bryan Cranston|Aaron Paul|Anna Gunn,Crime|Drama|Thriller
3,Band of Brothers,9.4,Scott Grimes|Damian Lewis|Ron Livingston,Drama|History|War
4,Chernobyl,9.3,Jessie Buckley|Jared Harris|Stellan Skarsgård,Drama|History|Thriller

In [12]:
# 1.2) checking the null values

In [13]:
df.isnull().sum()

Name        0
Director    0
Genre       0
dtype: int64

In [14]:
# 1.3) Finding all the genre

In [30]:
director = []
for i in df['Director']:
    director += (i.split('|'))
director = [i.strip() for i in director]

director = (list(set(director)))

# representation 
### this is termed to be as one hot representation 


####                      'Action'       'Crime'         'Drama'
#### 'Action'                [1,              0,                0]
#### 'Crime'                 [0,              1,                0]
#### 'Drama'                [0,              0,                1]
#### 'Drama , Crime '  [0,              1,                1]
#### 'Action, Crime '   [1,              1,                0]

# 1.4 one hot conversion

In [32]:
one_hot = []
for i in df['Director']:
    i = [j.strip() for j in i.split('|')]
    enc = [0 for i in range(len(director))]
        
    for dire in i :
        enc[director.index(dire)] = 1
    one_hot.append(enc)

In [33]:
len(one_hot)

250

In [34]:
# converting one_hot data to numpy array

In [34]:
one_hot = np.array(one_hot)
one_hot.shape

(250, 669)

In [35]:
# 1.7 adding one_hot data to dataframe

In [36]:
for i in range(21):
    df[director[i]] = one_hot[:,i]
df.head()

,Name,Director,Genre,John DiMaggio,Nicholas Braun,Sheryl Lee,Amybeth McNulty,Jerry Seinfeld,Allison Tolman,Josh Grelle,...,Yu Hayashi,Rafael Pettersson,Jessica Lange,LaKeith Stanfield,Alexander Skarsgård,Holt McCallany,Christopher McCulloch,Abhilash Thapliyal,Karoline Eichhorn,Kieran Culkin
0,Planet Earth II,David Attenborough|Chadden Hunter|Elizabeth White,Documentary,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Planet Earth,David Attenborough|Sigourney Weaver|Nikolay Dr...,Documentary,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Breaking Bad,Bryan Cranston|Aaron Paul|Anna Gunn,Crime|Drama|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Band of Brothers,Scott Grimes|Damian Lewis|Ron Livingston,Drama|History|War,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Chernobyl,Jessie Buckley|Jared Harris|Stellan Skarsgård,Drama|History|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Prediction

##  2.1 with exact genre

In [45]:
user = df[df['Name']== 'Planet Earth'].values[0][3:]

In [46]:
len(user)

21

In [48]:
for i in df.values:
    if (list(user - i[3:]).count(0)) == len(director):
        print(i[0],'|',i[1])

### 2.2) with better recommendation with genre

In [49]:
def mod(lst):
    s = 0
    for i in lst:
        if i < 0:
            s += -i 
        else:
            s += i
    return s

In [52]:
user = df[df['Name']== 'Planet Earth'].values[0][3:]

rel =[]

for i in df.values:
    rel.append(mod(i[3:]-user))
df['rel'] = rel
df_ = df.sort_values(by='rel')

In [53]:
df_.to_csv('recommendation.csv')