In [ ]:
v1.csv = https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-%2013/Kaggle%20Data%20Analysis/v1.csv
v2.csv = https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-%2013/Kaggle%20Data%20Analysis/v2.csv
kaggel.csv = https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-%2013/Kaggle%20Data%20Analysis/kaggel.csv

In [1]:
import pandas as pd

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-%2013/Kaggle%20Data%20Analysis/v2.csv')

In [56]:
df.head()

,title,sub_title,author,author_id,date_time,size,upvotes,rating,views,downloads,notebooks,topics,link
0,Wine Quality Dataset,Wine Quality Prediction - Classification Predi...,M Yasser H,/yasserh,Sun Jan 16 2022 00:45:11,78 kB,290,10.0,"45,700","7,599",64,NaN,https://www.kaggle.com/yasserh/wine-quality-da...
1,Pistachio Dataset,Pistachio Dataset 16 Features and 28 Features,Murat KOKLU,/mkoklu42,Sat Feb 12 2022 02:36:50,4 MB,505,7.5,"1,096",63,NaN,0.0,https://www.kaggle.com/mkoklu42/pistachio-dataset
2,Netflix subscription fee in different countries,Which countries pay the most and least for Net...,Prasert Kanawattanachai,/prasertk,Sat Jan 15 2022 12:36:09,6 kB,174,10.0,"29,519","5,845",37,0.0,https://www.kaggle.com/prasertk/netflix-subscr...
3,Height of Male and Female by Country 2022,Average Height of Male and Female by Country,Majyhain,/majyhain,Wed Feb 02 2022 06:10:19,8 kB,94,10.0,"13,872","3,032",6,NaN,https://www.kaggle.com/majyhain/height-of-male...
4,TED Talks,This datasets is having all the ted talks avai...,Ashish Jangra,/ashishjangra27,Wed Feb 23 2022 20:46:08,864 kB,26,10.0,"3,468",590,4,0.0,https://www.kaggle.com/ashishjangra27/ted-talks

In [57]:
df.isna().sum()

title           0
sub_title    2262
author          0
author_id       0
date_time       0
size            6
upvotes         0
rating          0
views           4
downloads     190
notebooks    1849
topics       1394
link            0
dtype: int64

# removing the null values

In [58]:
del df['sub_title']
del df['notebooks']
del df['topics']
df.head()

,title,author,author_id,date_time,size,upvotes,rating,views,downloads,link
0,Wine Quality Dataset,M Yasser H,/yasserh,Sun Jan 16 2022 00:45:11,78 kB,290,10.0,"45,700","7,599",https://www.kaggle.com/yasserh/wine-quality-da...
1,Pistachio Dataset,Murat KOKLU,/mkoklu42,Sat Feb 12 2022 02:36:50,4 MB,505,7.5,"1,096",63,https://www.kaggle.com/mkoklu42/pistachio-dataset
2,Netflix subscription fee in different countries,Prasert Kanawattanachai,/prasertk,Sat Jan 15 2022 12:36:09,6 kB,174,10.0,"29,519","5,845",https://www.kaggle.com/prasertk/netflix-subscr...
3,Height of Male and Female by Country 2022,Majyhain,/majyhain,Wed Feb 02 2022 06:10:19,8 kB,94,10.0,"13,872","3,032",https://www.kaggle.com/majyhain/height-of-male...
4,TED Talks,Ashish Jangra,/ashishjangra27,Wed Feb 23 2022 20:46:08,864 kB,26,10.0,"3,468",590,https://www.kaggle.com/ashishjangra27/ted-talks

In [59]:
df = df.dropna()

In [60]:
df.isnull().sum()

title        0
author       0
author_id    0
date_time    0
size         0
upvotes      0
rating       0
views        0
downloads    0
link         0
dtype: int64

In [90]:
df.to_csv('v2.csv',index=False)

In [62]:
df.head()

,title,author,author_id,date_time,size,upvotes,rating,views,downloads,link
0,Wine Quality Dataset,M Yasser H,/yasserh,Sun Jan 16 2022 00:45:11,78 kB,290,10.0,"45,700","7,599",https://www.kaggle.com/yasserh/wine-quality-da...
1,Pistachio Dataset,Murat KOKLU,/mkoklu42,Sat Feb 12 2022 02:36:50,4 MB,505,7.5,"1,096",63,https://www.kaggle.com/mkoklu42/pistachio-dataset
2,Netflix subscription fee in different countries,Prasert Kanawattanachai,/prasertk,Sat Jan 15 2022 12:36:09,6 kB,174,10.0,"29,519","5,845",https://www.kaggle.com/prasertk/netflix-subscr...
3,Height of Male and Female by Country 2022,Majyhain,/majyhain,Wed Feb 02 2022 06:10:19,8 kB,94,10.0,"13,872","3,032",https://www.kaggle.com/majyhain/height-of-male...
4,TED Talks,Ashish Jangra,/ashishjangra27,Wed Feb 23 2022 20:46:08,864 kB,26,10.0,"3,468",590,https://www.kaggle.com/ashishjangra27/ted-talks

In [63]:
#2) Data preprocessing

In [64]:
views = []
for i in df['views']:
    views.append(i.replace(',',''))

df['views'] = views

In [65]:
downloads = []
for i in df['downloads']:
    downloads.append(i.replace(',',''))

df['downloads'] = downloads

In [82]:
size = []
for i in df['size']:
    if (i[-2:] == 'kB'):
        size.append(round(int(i[:-2])/1024,4))
    elif (i[-2:] == 'MB'):
        size.append(int(i[:-2]))
    elif (i[-2:] == 'GB'):
        size.append(int(i[:-2])*1024)
    else:
        size.append(round(int(i[:-2])/(1024*1024),4))
df['size'] = size

In [84]:
df.head()

,title,author,author_id,date_time,size,upvotes,rating,views,downloads,link
0,Wine Quality Dataset,M Yasser H,/yasserh,Sun Jan 16 2022 00:45:11,0.0762,290,10.0,45700,7599,https://www.kaggle.com/yasserh/wine-quality-da...
1,Pistachio Dataset,Murat KOKLU,/mkoklu42,Sat Feb 12 2022 02:36:50,4.0000,505,7.5,1096,63,https://www.kaggle.com/mkoklu42/pistachio-dataset
2,Netflix subscription fee in different countries,Prasert Kanawattanachai,/prasertk,Sat Jan 15 2022 12:36:09,0.0059,174,10.0,29519,5845,https://www.kaggle.com/prasertk/netflix-subscr...
3,Height of Male and Female by Country 2022,Majyhain,/majyhain,Wed Feb 02 2022 06:10:19,0.0078,94,10.0,13872,3032,https://www.kaggle.com/majyhain/height-of-male...
4,TED Talks,Ashish Jangra,/ashishjangra27,Wed Feb 23 2022 20:46:08,0.8438,26,10.0,3468,590,https://www.kaggle.com/ashishjangra27/ted-talks

In [87]:
import pandas as pd

In [88]:
df_1 = pd.read_csv('https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-%2013/Kaggle%20Data%20Analysis/v1.csv')
df_2 = pd.read_csv('https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-%2013/Kaggle%20Data%20Analysis/v2.csv')

In [89]:
df_1.to_csv('v1.csv',index = False)
df_2.to_csv('v2.csv',index = False)