In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('marks.csv')

In [3]:
df

         name  Hindi  English  maths  science  ss  Total   avg
0        Raul     45       55     56       52  53    261  52.2
1      ramesh     65       85     95       63  45    353  70.6
2       kajol     95        6     85       63  75    324  64.8
3    karishma     85       75     85       95  65    405  81.0
4     bakshi      74       73     83       52  43    325  65.0
5       rashi     73       76     77       78  79    383  76.6
6       anand     96       91     72       73  43    375  75.0
7      shalin     25       35     65       45  75    245  49.0
8   Anonymous     63       62     69       67  68    329  65.8
9        tina     85       75     45       65  15    285  57.0
10        shi     72       85     75       88  97    417  83.4
11      nandi     77       66     55       44  88    330  66.0
12      abdul     78       74      8        5   6    171  34.2
13      jeeta     68       67     70       75  39    319  63.8
14     hardik     78       78     74       53  75    358  71.6
15   rashmika     78       58     68       69  95    368  73.6

In [4]:
data = list(df['English'])

In [5]:
data

[55, 85, 6, 75, 73, 76, 91, 35, 62, 75, 85, 66, 74, 67, 78, 58]

# 1. Mean

In [6]:
def mean(data):
    total  = 0
    for i in data:
        total += i
    return int(total/len(data))

In [7]:
print('hin : ',mean(list(df['Hindi'])))
print('eng : ',mean(list(df['English'])))
print('mat : ',mean(list(df['maths'])))
print('sci : ',mean(list(df['science'])))
print('ss  : ',mean(list(df['ss'])))

hin :  72
eng :  66
mat :  67
sci :  61
ss  :  60

# 2.Median

In [8]:
def median(lst):
    lst = list(np.sort(lst))
    if len(lst)%2 == 0 :
        return (lst[len(lst)//2 -1] + lst[len(lst)//2 ]/2)
    else:
        return lst[len(lst)//2]

In [9]:
print('hin : ',median(list(df['Hindi'])))
print('eng : ',median(list(df['English'])))
print('mat : ',median(list(df['maths'])))
print('sci : ',median(list(df['science'])))
print('ss  : ',median(list(df['ss'])))

hin :  112.5
eng :  110.0
mat :  106.0
sci :  95.5
ss  :  99.0

# 3. Mode

In [10]:
def mode(lst):
    freq =  []

    for i in set(lst):
        freq.append([i,lst.count(i)])

    df_ne = pd.DataFrame(freq,columns= ['number','freq'])
    mode = df_ne.sort_values(by='freq',ascending = False).head(1).values[0][0]
    return mode

In [11]:
print('hin : ',mode(list(df['Hindi'])))
print('eng : ',mode(list(df['English'])))
print('mat : ',mode(list(df['maths'])))
print('sci : ',mode(list(df['science'])))
print('ss  : ',mode(list(df['ss'])))

hin :  78
eng :  75
mat :  85
sci :  52
ss  :  75