In [ ]:
#column 1 represents the roll number 
#column 2 represents the name of the student 
#column 3 represents the marks in english 
#column 4 represents the marks in physics 
#column 5 represents the marks in Chemistry
#column 6 represents the marks in mathematics 
#column 7 represents the marks in computer science

students = [[1,'Rahul ',85,89,95,85,88],
            [2,'Suraj ',84,68,59,45,68],
            [3,'Sagar ',65,75,85,55,78],
            [4,'Subin ',66,67,83,78,65],
            [5,'Roshan ',68,54,98,91,84]]

# Average marks

In [ ]:
#finding the average marks obtained by each student 
Roll_no = int(input("Enter the roll no. :-"))
for i in students:
    if i[0]==Roll_no:
        print("*"*30)
        print("Name      : " , i[1])
        print("Physics   : " , i[2])
        print("Chemistry : " , i[3])
        print("Maths     : " , i[4])
        print("CS        : " , i[5])
        print("English   : " , i[6])
        print("*"*30)
        print("Average   : ",sum(i[2:])/len(i[2:]))

# Max marks in english

In [ ]:
#maximum marks obtained in english 
eng = []
for marks_eng in students:
    eng.append(marks_eng[2])
print(max(eng))

# Max marks in physics

In [ ]:
#maximum marks obtained in physics 
phy = []
for marks_phy in students:
    phy.append(marks_phy[3])
print(max(phy))

#  Max marks in chemistry

In [ ]:
#maximum marks obtained in chemistry 
chem = []
for marks_chem in students:
    chem.append(marks_chem[4])
print(max(chem))

# Max marks in mathematics

In [ ]:
#maximum marks obtained in mathematics 
mat = []
for marks_mat in students:
    mat.append(marks_mat[5])
print(max(mat))

# Max marks in CS

In [ ]:
#maximum marks obtained in computer science 
cs= []
for marks_cs in students:
    cs.append(marks_cs[6])
print(max(cs))

# Highest marks in English

In [ ]:
#who got the highest marks in english
print("----------English----------") 
eng=[]
for i in students:
    eng.append(i[2])
    maximum = max(eng)
    if maximum == i[2]:
        print("Name :",i[1])
        print("Roll_no :",i[0])

# Highest marks in Physics

In [ ]:
#who got the highest marks in physics
print("----------Physics----------")
phy = []
for i in students:
    phy.append(i[3])
    maximum = max(eng)
    if maximum == i[3]:
        print("Name :",i[1])
        print("Roll_no :",i[0])

# Highest marks in Chemistry

In [ ]:
#who got the highest marks in chemistry
print("----------Chemistry----------")
chem = []
for i in students:
    chem.append(i[4])
    maximum = max(eng)
    if maximum == i[4]:
        print("Name :",i[1])
        print("Roll_no :",i[0])

# Highest marks in Mathematics

In [ ]:
#who got the highest marks in mathematics
print("----------Mathematics----------")
math = []
for i in students:
    math.append(i[5])
    maximum = max(eng)
    if maximum == i[5]:
        print("Name :",i[1])
        print("Roll_no :",i[0])

# Highest Marks in CS

In [ ]:
#who got the highest marks in computer science
print("----------Computer Science----------")
cs = []
for i in students:
    cs.append(i[6])
    maximum = max(eng)
    if maximum == i[6]:
        print("Name :",i[1])
        print("Roll_no :",i[0])

# Topper of the class

In [ ]:
#who topped in the class 
#who overall average is the highest 
averages=[]
for i in students :
    averages.append(sum(students[2:])/len(students[2:]))
print(averages)

# Subject topper and in which subject

In [ ]:
# which subject did he/she topped in 
roll_number1 = int(input("enter the roll number :"))
for i in students :
    if roll_number1 == i[0]:
        print(max(i[2:]))