# lists

In [1]:
ch = int(input("Enter the month: "))

Enter the month: 1

In [2]:
if (ch == 1):
    print('January')
    
if (ch == 2):
    print('Feb')

if (ch == 3):
    print('March')

January

In [3]:
month_numb = [1,2,3,4,5,6,7,8,9,10,11,12]
month_name = ['January','February','March','April','May','June','July','August', 'September','October','November','December']

In [4]:
ch = int(input("Enter the month: "))

for i in range(len(month_numb)):
    if (ch == i):
        print(month_name[i-1])

Enter the month: 12

In [5]:
ch = int(input("Enter the month: "))

print(month_name[ch-1])

Enter the month: 12
December

# Dictionaries

In [6]:
dct = {1 : 'January' , 2 : 'February', 3 : 'March', 4 : 'April', 5 : 'May', 6 : 'June', 7 : 'July',8:'August',9:'September',10:'October',11:'November',12:'December'}

In [7]:
dct

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [8]:
ch = int(input("Enter the month: "))

dct[ch]

Enter the month: 2

'February'

In [9]:
dct.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [10]:
dct.values()

dict_values(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

In [11]:
for key in dct.keys():
    print(key , "-|-",dct[key])

1 -|- January
2 -|- February
3 -|- March
4 -|- April
5 -|- May
6 -|- June
7 -|- July
8 -|- August
9 -|- September
10 -|- October
11 -|- November
12 -|- December

In [12]:
del dct[2]

In [13]:
dct

{1: 'January',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [14]:
dct[2] = 'February'

In [15]:
dct

{1: 'January',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December',
 2: 'February'}

In [16]:
dct[4]

'April'

In [17]:
data = [[1, 'Prakash',60,70,85,95],
        [2, 'Ashish' ,65,77,75,93],
        [3, 'Anshika',68,72,85,89],
        [4, 'Ayushi' ,62,74,90,94]]

## Q1) Student Details based on their Roll No.

In [42]:
from json import loads, dumps
student     = {}
roll_number = int(input('Enter your roll number : '))
details            = {}
name               = str(input('Enter your name        : ')).strip()
marks              = [int(input('Enter marks of subject : ')) for i in range(5)]
details['name']    = name
details['marks']   = marks
details['total']   = sum(marks)
details['average'] = sum(marks)/len(marks) 

student[roll_number] = details

Enter your roll number : 64
Enter your name        : Rahul
Enter marks of subject : 93
Enter marks of subject : 86
Enter marks of subject : 76
Enter marks of subject : 86
Enter marks of subject : 96

In [43]:
# writing the student data in the file 
with open('student_db.txt','a') as fd:
    fd.write(dumps(student))
    fd.close()

In [45]:
with open('student_db.txt','r') as fd:
    text = fd.read()
    fd.close()

## Q2) Student Details based on their Roll No. including Average and Total Marks

In [47]:
with open('student_db.txt','r') as fd:
    text = fd.read()
    fd.close()
    
data = loads(text)

{'64': {'name': 'Joshua little',
  'marks': [75, 85, 68, 69, 96],
  'total': 393,
  'average': 78.6},
 '63': {'name': 'Rahul',
  'marks': [93, 86, 76, 86, 96],
  'total': 437,
  'average': 87.4}}

In [58]:
roll = input('Enter your roll number : ')
for i in data.keys():
    if roll == i:
        print(data[i])

Enter your roll number : 64
{'name': 'Joshua little', 'marks': [75, 85, 68, 69, 96], 'total': 393, 'average': 78.6}

##  Q3) Average and Top Marks in English

In [76]:
# considering the list as marks obtained in ['English','Science','mathematics','Social Science','Hindi']

eng = []
for i in data.keys():
    eng.append(data[i]['marks'][0])
    
    
print('Average marks obtained : ',sum(eng)/len(eng))
print('Top marks in English   : ',max(eng))

Average marks obtained :  84.0
Top marks in English   :  93

## Q4) Who has scored most marks in English

In [77]:
print('Top marks in English   : ',max(eng))

Top marks in English   :  93

## Q4) Who has scored most marks in Science

In [80]:
sci = []
for i in data.keys():
    sci.append(data[i]['marks'][1])
print('Most marks scored in science is :',max(sci))

Most marks scored in science is : 86

## Finding Student details based on Name

In [70]:
name = input('Enter your name : ')

for i in data.keys():
    if name.lower().strip() == (data[i]['name']).lower():
        print(data[i])

Enter your name : rahul
{'name': 'Rahul', 'marks': [93, 86, 76, 86, 96], 'total': 437, 'average': 87.4}