# lists

In [ ]:
ch = int(input("Enter the month: "))

In [ ]:
if (ch == 1):
    print('January')
    
if (ch == 2):
    print('Feb')

if (ch == 3):
    print('March')

In [ ]:
month_numb = [1,2,3,4,5,6,7,8,9,10,11,12]
month_name = ['January','February','March','April','May','June','July','August', 'September','October','November','December']

In [ ]:
ch = int(input("Enter the month: "))

for i in range(len(month_numb)):
    if (ch == i):
        print(month_name[i-1])

In [ ]:
ch = int(input("Enter the month: "))

print(month_name[ch-1])

# Dictionaries

In [ ]:
dct = {1 : 'January' , 2 : 'February', 3 : 'March', 4 : 'April', 5 : 'May', 6 : 'June', 7 : 'July',8:'August',9:'September',10:'October',11:'November',12:'December'}

In [ ]:
dct

In [ ]:
ch = int(input("Enter the month: "))

dct[ch]

In [ ]:
dct.keys()

In [ ]:
dct.values()

In [ ]:
for key in dct.keys():
    print(key , "-|-",dct[key])

In [ ]:
del dct[2]

In [ ]:
dct

In [ ]:
dct[2] = 'February'

In [ ]:
dct

In [ ]:
dct[4]

In [ ]:
data = [[1, 'Prakash',60,70,85,95],
        [2, 'Ashish' ,65,77,75,93],
        [3, 'Anshika',68,72,85,89],
        [4, 'Ayushi' ,62,74,90,94]]

## Q1) Student Details based on their Roll No.

## Q2) Student Details based on their Roll No. including Average and Total Marks

##  Q3) Average and Top Marks in English

## Q4) Who has scored most marks in English

## Q4) Who has scored most marks in Science

## Finding Student details based on Name