# Importing the libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

# Loading the Dataset

In [2]:
df = pd.read_csv('covid_19_india.csv')
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

# Learning about the Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18110 non-null  int64
 1   Date                      18110 non-null  object
 2   Time                      18110 non-null  object
 3   State/UnionTerritory      18110 non-null  object
 4   ConfirmedIndianNational   18110 non-null  object
 5   ConfirmedForeignNational  18110 non-null  object
 6   Cured                     18110 non-null  int64
 7   Deaths                    18110 non-null  int64
 8   Confirmed                 18110 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [4]:
df.nunique()

Sno                         18110
Date                          560
Time                            7
State/UnionTerritory           46
ConfirmedIndianNational        62
ConfirmedForeignNational       12
Cured                       14445
Deaths                       6471
Confirmed                   14971
dtype: int64

In [5]:
df.describe()

                Sno         Cured         Deaths     Confirmed
count  18110.000000  1.811000e+04   18110.000000  1.811000e+04
mean    9055.500000  2.786375e+05    4052.402264  3.010314e+05
std     5228.051023  6.148909e+05   10919.076411  6.561489e+05
min        1.000000  0.000000e+00       0.000000  0.000000e+00
25%     4528.250000  3.360250e+03      32.000000  4.376750e+03
50%     9055.500000  3.336400e+04     588.000000  3.977350e+04
75%    13582.750000  2.788698e+05    3643.750000  3.001498e+05
max    18110.000000  6.159676e+06  134201.000000  6.363442e+06

In [6]:
df.shape

(18110, 9)

# Describing the null present in the data

In [7]:
df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

# Removing the unwanted row

In [8]:
del df['Sno']

In [9]:
# pre-processing the data

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year']= df['Date'].dt.year
df.head()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year
0,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1,2020
1,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,31,1,2020
2,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,1,2,2020
3,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2,2020
4,2020-02-03,6:00 PM,Kerala,3,0,0,0,3,3,2,2020

In [12]:
df['Time'] = pd.to_datetime(df['Time'])

In [13]:
df['Hour'] = df['Time'].dt.hour

In [14]:
del df['Date']
del df['Time']

In [15]:
len(df['State/UnionTerritory'].unique())

46

In [16]:
df.head()

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
0,Kerala,1,0,0,0,1,30,1,2020,18
1,Kerala,1,0,0,0,1,31,1,2020,18
2,Kerala,2,0,0,0,2,1,2,2020,18
3,Kerala,3,0,0,0,3,2,2,2020,18
4,Kerala,3,0,0,0,3,3,2,2020,18

In [17]:
# pre processing the confirmedIndianNational

In [18]:
data = []
for i in df['ConfirmedIndianNational']:
    if i == '-':
        data.append(int(i.replace('-','0')))
    else:
        data.append(int(i))
df['ConfirmedIndianNational'] = data

In [19]:
# preprocessing the ConfirmedForeignNational column

In [20]:
data = []
for i in df['ConfirmedForeignNational']:
    if i == '-':
        data.append(int(i.replace('-','0')))
    else:
        data.append(int(i))
df['ConfirmedForeignNational'] = data

In [21]:
# preprocessing the Cured column

In [22]:
cures = []
for i in df['Cured']:
    cures.append(int(i))
df['Cured'] = cures
df.head()

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
0,Kerala,1,0,0,0,1,30,1,2020,18
1,Kerala,1,0,0,0,1,31,1,2020,18
2,Kerala,2,0,0,0,2,1,2,2020,18
3,Kerala,3,0,0,0,3,2,2,2020,18
4,Kerala,3,0,0,0,3,3,2,2020,18

In [23]:
# preprocessing the confirmed column

In [24]:
confirm = []
for i in df['Confirmed']:
    confirm.append(int(i))
df['Confirmed'] = confirm

In [26]:
states = []

for state in df['State/UnionTerritory']:
    states.append(state)
    
states =list(set(states))

In [42]:
df[df['State/UnionTerritory'] == 'Cases being reassigned to states']

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
2133,Cases being reassigned to states,0,0,0,0,1096,20,5,2020,8
2167,Cases being reassigned to states,0,0,0,0,1403,21,5,2020,8
2201,Cases being reassigned to states,0,0,0,0,1620,22,5,2020,8
2235,Cases being reassigned to states,0,0,0,0,1899,23,5,2020,8
2270,Cases being reassigned to states,0,0,0,0,2338,24,5,2020,8
2305,Cases being reassigned to states,0,0,0,0,2642,25,5,2020,8
2341,Cases being reassigned to states,0,0,0,0,2970,26,5,2020,8
2377,Cases being reassigned to states,0,0,0,0,4013,27,5,2020,8
2413,Cases being reassigned to states,0,0,0,0,4332,28,5,2020,8
2449,Cases being reassigned to states,0,0,0,0,4673,29,5,2020,8
2485,Cases being reassigned to states,0,0,0,0,5043,30,5,2020,8
2521,Cases being reassigned to states,0,0,0,0,5491,31,5,2020,8
2557,Cases being reassigned to states,0,0,0,0,5630,1,6,2020,8
2593,Cases being reassigned to states,0,0,0,0,6414,2,6,2020,8
2629,Cases being reassigned to states,0,0,0,0,7123,3,6,2020,8
2665,Cases being reassigned to states,0,0,0,0,7483,4,6,2020,8
2701,Cases being reassigned to states,0,0,0,0,7610,5,6,2020,8
2737,Cases being reassigned to states,0,0,0,0,8192,6,6,2020,8
2773,Cases being reassigned to states,0,0,0,0,8605,7,6,2020,8
2809,Cases being reassigned to states,0,0,0,0,9189,8,6,2020,8
2845,Cases being reassigned to states,0,0,0,0,8803,9,6,2020,8
2881,Cases being reassigned to states,0,0,0,0,9227,10,6,2020,8
2918,Cases being reassigned to states,0,0,0,0,8931,11,6,2020,8
2954,Cases being reassigned to states,0,0,0,0,8315,12,6,2020,8
2990,Cases being reassigned to states,0,0,0,0,7984,13,6,2020,8
3026,Cases being reassigned to states,0,0,0,0,7436,14,6,2020,8
3062,Cases being reassigned to states,0,0,0,0,6972,15,6,2020,8
3098,Cases being reassigned to states,0,0,0,0,7684,16,6,2020,8
3134,Cases being reassigned to states,0,0,0,0,8273,17,6,2020,8
3170,Cases being reassigned to states,0,0,0,0,8703,18,6,2020,8
3206,Cases being reassigned to states,0,0,0,0,8927,19,6,2020,8
3242,Cases being reassigned to states,0,0,0,0,9265,20,6,2020,8
3278,Cases being reassigned to states,0,0,0,0,9127,21,6,2020,8
3314,Cases being reassigned to states,0,0,0,0,7832,22,6,2020,8
3350,Cases being reassigned to states,0,0,0,0,8015,23,6,2020,8
3386,Cases being reassigned to states,0,0,0,0,8141,24,6,2020,8
3422,Cases being reassigned to states,0,0,0,0,8493,25,6,2020,8
3458,Cases being reassigned to states,0,0,0,0,8123,26,6,2020,8
3494,Cases being reassigned to states,0,0,0,0,8023,27,6,2020,8
3530,Cases being reassigned to states,0,0,0,0,7839,28,6,2020,8
3566,Cases being reassigned to states,0,0,0,0,7285,29,6,2020,8
3602,Cases being reassigned to states,0,0,0,0,7004,30,6,2020,8
3638,Cases being reassigned to states,0,0,0,0,6915,1,7,2020,8
3674,Cases being reassigned to states,0,0,0,0,6832,2,7,2020,8
3710,Cases being reassigned to states,0,0,0,0,6031,3,7,2020,8
3746,Cases being reassigned to states,0,0,0,0,4999,4,7,2020,8
3782,Cases being reassigned to states,0,0,0,0,4629,5,7,2020,8
3818,Cases being reassigned to states,0,0,0,0,4913,6,7,2020,8
3854,Cases being reassigned to states,0,0,0,0,5034,7,7,2020,8
3890,Cases being reassigned to states,0,0,0,0,5018,8,7,2020,8
3926,Cases being reassigned to states,0,0,0,0,4385,9,7,2020,8
3962,Cases being reassigned to states,0,0,0,0,4161,10,7,2020,8
3998,Cases being reassigned to states,0,0,0,0,3416,11,7,2020,8
4034,Cases being reassigned to states,0,0,0,0,3024,12,7,2020,8
4070,Cases being reassigned to states,0,0,0,0,2358,13,7,2020,8
4106,Cases being reassigned to states,0,0,0,0,2179,14,7,2020,8
4142,Cases being reassigned to states,0,0,0,0,1524,15,7,2020,8
4178,Cases being reassigned to states,0,0,0,0,1285,16,7,2020,8
4214,Cases being reassigned to states,0,0,0,0,531,17,7,2020,8
4250,Cases being reassigned to states,0,0,0,0,163,18,7,2020,8

In [40]:
print(len(df))

18110

In [41]:
18050/18110

0.9966869133075649

In [34]:
for state in states:
    count = 0
    for i in df.values:
        if state == i[0]:
            count += i[1]
    print(state,'|',count)

Meghalaya | 0
Dadra and Nagar Haveli and Daman and Diu | 0
Mizoram | 4
Assam | 0
Cases being reassigned to states | 0
Daman & Diu | 0
Dadra and Nagar Haveli | 0
Andhra Pradesh | 81
Puducherry | 11
Ladakh | 162
Nagaland | 0
West Bengal | 71
Madhya Pradesh*** | 0
Telangana | 0
Uttar Pradesh | 462
Arunachal Pradesh | 0
Andaman and Nicobar Islands | 8
Telengana | 246
Chhattisgarh | 25
Delhi | 352
Karnataka | 405
Haryana | 111
Jharkhand | 0
Rajasthan | 296
Gujarat | 256
Madhya Pradesh | 105
Maharashtra*** | 0
Maharashtra | 1111
Uttarakhand | 35
Lakshadweep | 0
Karanataka | 0
Himachal Pradesh | 21
Bihar | 32
Kerala | 1091
Punjab | 231
Bihar**** | 0
Manipur | 5
Unassigned | 0
Tripura | 0
Sikkim | 0
Chandigarh | 50
Goa | 9
Odisha | 23
Tamil Nadu | 138
Himanchal Pradesh | 0
Jammu and Kashmir | 95

# Column analysis

In [10]:
df[df['State/UnionTerritory'] == 'Kerala']

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...
17946,2021-08-07,8:00 AM,Kerala,-,-,3317314,17515,3513551
17982,2021-08-08,8:00 AM,Kerala,-,-,3337579,17654,3533918
18018,2021-08-09,8:00 AM,Kerala,-,-,3357687,17747,3552525
18054,2021-08-10,8:00 AM,Kerala,-,-,3377691,17852,3565574
18090,2021-08-11,8:00 AM,Kerala,-,-,3396184,18004,3586693

In [11]:
lst = []
for i in (df['State/UnionTerritory'].unique()):
    lst.append(df[df['State/UnionTerritory'] == i])

In [12]:
lst

[             Date     Time State/UnionTerritory ConfirmedIndianNational  \
 0      2020-01-30  6:00 PM               Kerala                       1
 1      2020-01-31  6:00 PM               Kerala                       1
 2      2020-02-01  6:00 PM               Kerala                       2
 3      2020-02-02  6:00 PM               Kerala                       3
 4      2020-02-03  6:00 PM               Kerala                       3
 ...           ...      ...                  ...                     ...
 17946  2021-08-07  8:00 AM               Kerala                       -
 17982  2021-08-08  8:00 AM               Kerala                       -
 18018  2021-08-09  8:00 AM               Kerala                       -
 18054  2021-08-10  8:00 AM               Kerala                       -
 18090  2021-08-11  8:00 AM               Kerala                       -

       ConfirmedForeignNational    Cured  Deaths  Confirmed
 0                            0        0       0          1
 1                            0        0       0          1
 2                            0        0       0          2
 3                            0        0       0          3
 4                            0        0       0          3
 ...                        ...      ...     ...        ...
 17946                        -  3317314   17515    3513551
 17982                        -  3337579   17654    3533918
 18018                        -  3357687   17747    3552525
 18054                        -  3377691   17852    3565574
 18090                        -  3396184   18004    3586693

 [560 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 32     2020-03-02  6:00 PM            Telengana                       1
 35     2020-03-03  6:00 PM            Telengana                       1
 43     2020-03-04  6:00 PM            Telengana                       1
 49     2020-03-05  6:00 PM            Telengana                       1
 56     2020-03-06  6:00 PM            Telengana                       1
 ...           ...      ...                  ...                     ...
 14289  2021-04-27  8:00 AM            Telengana                       -
 14325  2021-04-28  8:00 AM            Telengana                       -
 14361  2021-04-29  8:00 AM            Telengana                       -
 14397  2021-04-30  8:00 AM            Telengana                       -
 14433  2021-05-01  8:00 AM            Telengana                       -

       ConfirmedForeignNational   Cured  Deaths  Confirmed
 32                           0       0       0          1
 35                           0       0       0          1
 43                           0       0       0          1
 49                           0       0       0          1
 56                           0       0       0          1
 ...                        ...     ...     ...        ...
 14289                        -  340590    2094     411905
 14325                        -  345683    2150     419966
 14361                        -  349692    2208     427960
 14397                        -  355618    2261     435606
 14433                        -  362160    2312     443360

 [426 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 34     2020-03-02  6:00 PM                Delhi                       1
 38     2020-03-03  6:00 PM                Delhi                       1
 42     2020-03-04  6:00 PM                Delhi                       1
 45     2020-03-05  6:00 PM                Delhi                       2
 51     2020-03-06  6:00 PM                Delhi                       3
 ...           ...      ...                  ...                     ...
 17938  2021-08-07  8:00 AM                Delhi                       -
 17974  2021-08-08  8:00 AM                Delhi                       -
 18010  2021-08-09  8:00 AM                Delhi                       -
 18046  2021-08-10  8:00 AM                Delhi                       -
 18082  2021-08-11  8:00 AM                Delhi                       -

       ConfirmedForeignNational    Cured  Deaths  Confirmed
 34                           0        0       0          1
 38                           0        0       0          1
 42                           0        0       0          1
 45                           0        0       0          2
 51                           0        0       0          3
 ...                        ...      ...     ...        ...
 17938                        -  1411042   25065    1436623
 17974                        -  1411064   25066    1436695
 18010                        -  1411159   25066    1436761
 18046                        -  1411235   25067    1436800
 18082                        -  1411280   25068    1436852

 [528 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 36     2020-03-03  6:00 PM            Rajasthan                       0
 44     2020-03-04  6:00 PM            Rajasthan                       1
 48     2020-03-05  6:00 PM            Rajasthan                       1
 54     2020-03-06  6:00 PM            Rajasthan                       1
 64     2020-03-07  6:00 PM            Rajasthan                       1
 ...           ...      ...                  ...                     ...
 17958  2021-08-07  8:00 AM            Rajasthan                       -
 17994  2021-08-08  8:00 AM            Rajasthan                       -
 18030  2021-08-09  8:00 AM            Rajasthan                       -
 18066  2021-08-10  8:00 AM            Rajasthan                       -
 18102  2021-08-11  8:00 AM            Rajasthan                       -

       ConfirmedForeignNational   Cured  Deaths  Confirmed
 36                           1       0       0          1
 44                          14       0       0         15
 48                          14       0       0         15
 54                          14       0       0         15
 64                          14       0       0         15
 ...                        ...     ...     ...        ...
 17958                        -  944606    8954     953793
 17994                        -  944621    8954     953812
 18030                        -  944636    8954     953827
 18066                        -  944670    8954     953840
 18102                        -  944700    8954     953851

 [527 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 39     2020-03-04  6:00 PM        Uttar Pradesh                       6
 50     2020-03-05  6:00 PM        Uttar Pradesh                       7
 55     2020-03-06  6:00 PM        Uttar Pradesh                       7
 58     2020-03-07  6:00 PM        Uttar Pradesh                       7
 72     2020-03-08  6:00 PM        Uttar Pradesh                       7
 ...           ...      ...                  ...                     ...
 17964  2021-08-07  8:00 AM        Uttar Pradesh                       -
 18000  2021-08-08  8:00 AM        Uttar Pradesh                       -
 18036  2021-08-09  8:00 AM        Uttar Pradesh                       -
 18072  2021-08-10  8:00 AM        Uttar Pradesh                       -
 18108  2021-08-11  8:00 AM        Uttar Pradesh                       -

       ConfirmedForeignNational    Cured  Deaths  Confirmed
 39                           0        0       0          6
 50                           0        0       0          7
 55                           0        0       0          7
 58                           0        0       0          7
 72                           0        0       0          7
 ...                        ...      ...     ...        ...
 17964                        -  1685299   22771    1708689
 18000                        -  1685357   22773    1708716
 18036                        -  1685406   22773    1708772
 18072                        -  1685449   22774    1708793
 18108                        -  1685492   22775    1708812

 [526 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 41     2020-03-04  6:00 PM              Haryana                       0
 46     2020-03-05  6:00 PM              Haryana                       0
 52     2020-03-06  6:00 PM              Haryana                       0
 63     2020-03-07  6:00 PM              Haryana                       0
 70     2020-03-08  6:00 PM              Haryana                       0
 ...           ...      ...                  ...                     ...
 17941  2021-08-07  8:00 AM              Haryana                       -
 17977  2021-08-08  8:00 AM              Haryana                       -
 18013  2021-08-09  8:00 AM              Haryana                       -
 18049  2021-08-10  8:00 AM              Haryana                       -
 18085  2021-08-11  8:00 AM              Haryana                       -

       ConfirmedForeignNational   Cured  Deaths  Confirmed
 41                           2       0       0          2
 46                           2       0       0          2
 52                           2       0       0          2
 63                           2       0       0          2
 70                           2       0       0          2
 ...                        ...     ...     ...        ...
 17941                        -  759705    9647     770042
 17977                        -  759727    9648     770060
 18013                        -  759751    9649     770079
 18049                        -  759769    9650     770091
 18085                        -  759790    9652     770114

 [526 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 59     2020-03-07  6:00 PM               Ladakh                       2
 65     2020-03-08  6:00 PM               Ladakh                       2
 73     2020-03-09  6:00 PM               Ladakh                       2
 86     2020-03-10  6:00 PM               Ladakh                       2
 104    2020-03-11  6:00 PM               Ladakh                       2
 ...           ...      ...                  ...                     ...
 17947  2021-08-07  8:00 AM               Ladakh                       -
 17983  2021-08-08  8:00 AM               Ladakh                       -
 18019  2021-08-09  8:00 AM               Ladakh                       -
 18055  2021-08-10  8:00 AM               Ladakh                       -
 18091  2021-08-11  8:00 AM               Ladakh                       -

       ConfirmedForeignNational  Cured  Deaths  Confirmed
 59                           0      0       0          2
 65                           0      0       0          2
 73                           0      0       0          2
 86                           0      0       0          2
 104                          0      0       0          2
 ...                        ...    ...     ...        ...
 17947                        -  20106     207      20378
 17983                        -  20113     207      20385
 18019                        -  20117     207      20393
 18055                        -  20121     207      20400
 18091                        -  20130     207      20411

 [523 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 61     2020-03-07  6:00 PM           Tamil Nadu                       1
 67     2020-03-08  6:00 PM           Tamil Nadu                       1
 79     2020-03-09  6:00 PM           Tamil Nadu                       1
 94     2020-03-10  6:00 PM           Tamil Nadu                       1
 105    2020-03-11  6:00 PM           Tamil Nadu                       1
 ...           ...      ...                  ...                     ...
 17960  2021-08-07  8:00 AM           Tamil Nadu                       -
 17996  2021-08-08  8:00 AM           Tamil Nadu                       -
 18032  2021-08-09  8:00 AM           Tamil Nadu                       -
 18068  2021-08-10  8:00 AM           Tamil Nadu                       -
 18104  2021-08-11  8:00 AM           Tamil Nadu                       -

       ConfirmedForeignNational    Cured  Deaths  Confirmed
 61                           0        0       0          1
 67                           0        0       0          1
 79                           0        0       0          1
 94                           0        0       0          1
 105                          0        0       0          1
 ...                        ...      ...     ...        ...
 17960                        -  2516938   34260    2571383
 17996                        -  2518777   34289    2573352
 18032                        -  2520584   34317    2575308
 18068                        -  2522470   34340    2577237
 18104                        -  2524400   34367    2579130

 [523 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 74     2020-03-09  6:00 PM            Karnataka                       1
 89     2020-03-10  6:00 PM            Karnataka                       4
 108    2020-03-11  6:00 PM            Karnataka                       4
 119    2020-03-12  6:00 PM            Karnataka                       4
 132    2020-03-13  6:00 PM            Karnataka                       6
 ...           ...      ...                  ...                     ...
 17945  2021-08-07  8:00 AM            Karnataka                       -
 17981  2021-08-08  8:00 AM            Karnataka                       -
 18017  2021-08-09  8:00 AM            Karnataka                       -
 18053  2021-08-10  8:00 AM            Karnataka                       -
 18089  2021-08-11  8:00 AM            Karnataka                       -

       ConfirmedForeignNational    Cured  Deaths  Confirmed
 74                           0        0       0          1
 89                           0        0       0          4
 108                          0        0       0          4
 119                          0        0       0          4
 132                          0        0       1          6
 ...                        ...      ...     ...        ...
 17945                        -  2854222   36741    2915317
 17981                        -  2855862   36773    2916927
 18017                        -  2857776   36793    2918525
 18053                        -  2859552   36817    2919711
 18089                        -  2861499   36848    2921049

 [520 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 76     2020-03-09  6:00 PM          Maharashtra                       2
 91     2020-03-10  6:00 PM          Maharashtra                       5
 97     2020-03-11  6:00 PM          Maharashtra                       2
 120    2020-03-12  6:00 PM          Maharashtra                      11
 133    2020-03-13  6:00 PM          Maharashtra                      14
 ...           ...      ...                  ...                     ...
 17950  2021-08-07  8:00 AM          Maharashtra                       -
 17986  2021-08-08  8:00 AM          Maharashtra                       -
 18022  2021-08-09  8:00 AM          Maharashtra                       -
 18058  2021-08-10  8:00 AM          Maharashtra                       -
 18094  2021-08-11  8:00 AM          Maharashtra                       -

       ConfirmedForeignNational    Cured  Deaths  Confirmed
 76                           0        0       0          2
 91                           0        0       0          5
 97                           0        0       0          2
 120                          0        0       0         11
 133                          0        0       0         14
 ...                        ...      ...     ...        ...
 17950                        -  6130137  133717    6341759
 17986                        -  6139493  133845    6347820
 18022                        -  6144388  133996    6353328
 18058                        -  6151956  134064    6357833
 18094                        -  6159676  134201    6363442

 [520 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 77     2020-03-09  6:00 PM               Punjab                       1
 92     2020-03-10  6:00 PM               Punjab                       1
 107    2020-03-11  6:00 PM               Punjab                       1
 118    2020-03-12  6:00 PM               Punjab                       1
 131    2020-03-13  6:00 PM               Punjab                       1
 ...           ...      ...                  ...                     ...
 17957  2021-08-07  8:00 AM               Punjab                       -
 17993  2021-08-08  8:00 AM               Punjab                       -
 18029  2021-08-09  8:00 AM               Punjab                       -
 18065  2021-08-10  8:00 AM               Punjab                       -
 18101  2021-08-11  8:00 AM               Punjab                       -

       ConfirmedForeignNational   Cured  Deaths  Confirmed
 77                           0       0       0          1
 92                           0       0       0          1
 107                          0       0       0          1
 118                          0       0       0          1
 131                          0       0       0          1
 ...                        ...     ...     ...        ...
 17957                        -  582580   16312     599365
 17993                        -  582654   16313     599428
 18029                        -  582710   16316     599482
 18065                        -  582753   16320     599514
 18101                        -  582791   16322     599573

 [521 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 81     2020-03-09  6:00 PM    Jammu and Kashmir                       1
 96     2020-03-10  6:00 PM    Jammu and Kashmir                       1
 106    2020-03-11  6:00 PM    Jammu and Kashmir                       1
 117    2020-03-12  6:00 PM    Jammu and Kashmir                       1
 130    2020-03-13  6:00 PM    Jammu and Kashmir                       1
 ...           ...      ...                  ...                     ...
 17943  2021-08-07  8:00 AM    Jammu and Kashmir                       -
 17979  2021-08-08  8:00 AM    Jammu and Kashmir                       -
 18015  2021-08-09  8:00 AM    Jammu and Kashmir                       -
 18051  2021-08-10  8:00 AM    Jammu and Kashmir                       -
 18087  2021-08-11  8:00 AM    Jammu and Kashmir                       -

       ConfirmedForeignNational   Cured  Deaths  Confirmed
 81                           0       0       0          1
 96                           0       0       0          1
 106                          0       0       0          1
 117                          0       0       0          1
 130                          0       0       0          1
 ...                        ...     ...     ...        ...
 17943                        -  316496    4386     322286
 17979                        -  316632    4386     322428
 18015                        -  316761    4389     322550
 18051                        -  316957    4390     322658
 18087                        -  317081    4392     322771

 [521 rows x 8 columns],
              Date     Time State/UnionTerritory ConfirmedIndianNational  \
 121    2020-03-12  6:00 PM       Andhra Pradesh                       1
 134    2020-03-13  6:00 PM       Andhra Pradesh                       1
 147    2020-03-14  6:00 PM       Andhra Pradesh                       1
 148    2020-03-15  6:00 PM       Andhra Pradesh                       1
 162    2020-03-16  6:00 PM       Andhra Pradesh                       1
 ...           ...      ...                  ...                     ...

In [13]:
df.head()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,2020-02-03,6:00 PM,Kerala,3,0,0,0,3