In [ ]:
import pandas as pd
import numpy as np 
import datetime
df = pd.read_csv('sales.csv')
df.head()

### 1.checking null values

In [ ]:
df.isnull().sum()

### 2. Adding total billing amount columns 
#### 2.1. Removing duplicate rows with uncertain  values

In [2]:
data = []
c = 0
for i in df.values:
    if (i[2] != 'Quantity ordered'):
        data.append(i)
data = pd.DataFrame(data,columns = ('order_id','product','quantity' ,'price','date','address','month'))
data.head()

NameError: name 'df' is not defined

#### 2.2 creating total billing amount column

In [ ]:
total = []
for i in data.values:
    qn = i[2]
    pr = i[3]
    total.append(round(float(qn)*float(pr),2))
data['total'] = total
data.head()

### 3. preprocessing date
#### 3.1 adding date and time column

In [ ]:
date =[]
time = []
for i in data['date']:
    date.append(i.split(' ')[0])
    time.append(i.split(' ')[1])
data['time'] = time_
data['date'] = date_
data.head()

#### 3.2) Adding hour

In [ ]:
hour = []
for i in data['time']:
    hour.append(int(i.split(':')[0])
data['hour'] = hour
data.head()

#### 3.3) day month and year column

In [ ]:
date = []
month = []
year = []
for i in data['date']:
    month.append(i.split('/')[0])
    date.append(i.split('/')[1])
    year.append(i.split('/')[2])
data['date_'] = date
data['month_'] = month 
data['year_'] = year
data.head()

#### 3.4) Adding day column (ex.mon,tues)

In [ ]:
day = []
for i in data['date']:
    month = (i.split('/')[0])
    year = (i.split('/')[2])
    date = (i.split('/')[1])
    day.append(datetime.date(year,month,date).strftime('%a'))
data['day'] = day
data.head()