In [2]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,order_id,product,quantity,price,total,date,hour,month,year,day,street,city,state,pincode,timezone
0,236670,Wired Headphones,2,11.99,23.98,31,22,8,2019,Sat,359 Spruce St,Seattle,WA,98101,PM
1,236671,Bose SoundSport Headphones,1,99.99,99.99,15,15,8,2019,Thu,492 Ridge St,Dallas,TX,75001,PM
2,236672,iPhone,1,700.00,700.00,6,14,8,2019,Tue,149 7th St,Portland,OR,97035,PM
3,236673,AA Batteries (4-pack),2,3.84,7.68,29,20,8,2019,Thu,631 2nd St,Los Angeles,CA,90001,PM
4,236674,AA Batteries (4-pack),2,3.84,7.68,15,19,8,2019,Thu,736 14th St,New York City,NY,10001,PM

# 1) Based on timezone

In [3]:
# 'AM.csv'
# 'PM.csv'

df_1 = df[df['timezone'] == 'AM']
df_2 = df[df['timezone'] == 'PM']

In [4]:
df_1

,order_id,product,quantity,price,total,date,hour,month,year,day,street,city,state,pincode,timezone
7,236677,20in Monitor,1,109.99,109.99,13,7,8,2019,Tue,918 6th St,San Francisco,CA,94016,AM
12,236682,AA Batteries (4-pack),1,3.84,3.84,19,12,8,2019,Mon,118 Johnson St,Portland,OR,97035,AM
17,236687,USB-C Charging Cable,1,11.95,11.95,23,12,8,2019,Fri,668 Meadow St,New York City,NY,10001,AM
19,236689,AAA Batteries (4-pack),1,2.99,2.99,21,10,8,2019,Wed,13 Cedar St,San Francisco,CA,94016,AM
20,236690,AAA Batteries (4-pack),1,2.99,2.99,8,12,8,2019,Thu,139 River St,San Francisco,CA,94016,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185928,161988,Bose SoundSport Headphones,1,99.99,99.99,28,7,2,2019,Thu,970 5th St,San Francisco,CA,94016,AM
185933,161993,AAA Batteries (4-pack),1,2.99,2.99,10,12,2,2019,Sun,848 9th St,Seattle,WA,98101,AM
185934,161994,AA Batteries (4-pack),2,3.84,7.68,9,12,2,2019,Sat,396 Willow St,Dallas,TX,75001,AM
185935,161995,Lightning Charging Cable,1,14.95,14.95,23,10,2,2019,Sat,761 14th St,Los Angeles,CA,90001,AM
185947,162006,USB-C Charging Cable,1,11.95,11.95,24,6,2,2019,Sun,498 8th St,Atlanta,GA,30301,AM

In [5]:
df_2

,order_id,product,quantity,price,total,date,hour,month,year,day,street,city,state,pincode,timezone
0,236670,Wired Headphones,2,11.99,23.98,31,22,8,2019,Sat,359 Spruce St,Seattle,WA,98101,PM
1,236671,Bose SoundSport Headphones,1,99.99,99.99,15,15,8,2019,Thu,492 Ridge St,Dallas,TX,75001,PM
2,236672,iPhone,1,700.00,700.00,6,14,8,2019,Tue,149 7th St,Portland,OR,97035,PM
3,236673,AA Batteries (4-pack),2,3.84,7.68,29,20,8,2019,Thu,631 2nd St,Los Angeles,CA,90001,PM
4,236674,AA Batteries (4-pack),2,3.84,7.68,15,19,8,2019,Thu,736 14th St,New York City,NY,10001,PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185944,162003,Macbook Pro Laptop,1,1700.00,1700.00,15,18,2,2019,Fri,115 Spruce St,New York City,NY,10001,PM
185945,162004,Apple Airpods Headphones,1,150.00,150.00,12,22,2,2019,Tue,227 Church St,San Francisco,CA,94016,PM
185946,162005,AAA Batteries (4-pack),2,2.99,5.98,4,20,2,2019,Mon,417 Jefferson St,Los Angeles,CA,90001,PM
185948,162007,USB-C Charging Cable,1,11.95,11.95,24,19,2,2019,Sun,715 7th St,Dallas,TX,75001,PM
185949,162008,27in FHD Monitor,1,149.99,149.99,26,17,2,2019,Tue,677 West St,Los Angeles,CA,90001,PM

### converting to timezone files

In [ ]:
mkdir Timezone

In [6]:
df_1.to_csv('Timezone/AM.csv',index =False)
df_2.to_csv('Timezone/PM.csv',index =False)

# 2) Based on State

In [ ]:
mkdir State

In [14]:
for i in df['state'].unique():
    path = ('State/'+i+'.csv')
    df_ = (df[df['state']==i])
    df_.to_csv(path,index = False)

# 3) Based on city - based on product solds

In [38]:
data = []
for city in df['city'].unique():
    
    q = 0
    o = 0
    a = 0
    for i in df.values:
        if (i[11] == city):      # i[11] == city 
            o += 1               # count the order
            q += i[2]            # i[2] == quantity , count the quantity
            a += i[4]            # i[4] == total    , count the total
    data.append([city,o,q,int(a)])
df_ = pd.DataFrame(data,columns = ['City','Orders','Quantity','Amount'])
df_.to_csv('City.csv',index= False)

# 4) City

In [39]:
mkdir city

In [40]:
for i in df['city'].unique():
    path = 'city/'+i+'.csv'
    df_ = df[df['city'] == i]
    df_.to_csv(path,index = False)

# 5) Products

In [58]:
data = []
for i in df['product'].unique():
    df_ = df[df['product']==i]
    data.append([i,
                 df_['price'].mode().values[0],
                 len(df_),df_['quantity'].sum(),
                 df_['quantity'].max(),
                 int(df_['total'].sum())
                ])
df_ = pd.DataFrame(data,columns = ['Name','Price','Orders','Quantity','Max_quantity_per_user','Total_amount'])

In [60]:
df_.to_csv('Product.csv',index = False)

In [61]:
df_

# Wired Headphones | 20557 | 226395 | 246478

,Name,Price,Orders,Quantity,Max_quantity_per_user,Total_amount
0,Wired Headphones,11.99,18882,20557,4,246478
1,Bose SoundSport Headphones,99.99,13325,13457,3,1345565
2,iPhone,700.00,6842,6849,2,4794300
3,AA Batteries (4-pack),3.84,20577,27635,7,106118
4,34in Ultrawide Monitor,379.99,6181,6199,2,2355558
5,20in Monitor,109.99,4101,4129,2,454148
6,Macbook Pro Laptop,1700.00,4724,4728,2,8037600
7,LG Washing Machine,600.00,666,666,1,399600
8,27in FHD Monitor,149.99,7507,7550,2,1132424
9,Lightning Charging Cable,14.95,21658,23217,4,347094
10,Apple Airpods Headphones,150.00,15549,15661,3,2349150
11,AAA Batteries (4-pack),2.99,20641,31017,9,92740
12,USB-C Charging Cable,11.95,21903,23975,6,286501
13,27in 4K Gaming Monitor,389.99,6230,6244,2,2435097
14,ThinkPad Laptop,999.99,4128,4130,2,4129958
15,Flatscreen TV,300.00,4800,4819,2,1445700
16,Google Phone,600.00,5525,5532,2,3319200
17,Vareebadd Phone,400.00,2065,2068,2,827200
18,LG Dryer,600.00,646,646,1,387600