In [2]:
import os 
import numpy as np 
import pandas as pd

In [ ]:
# Merging the dataset

In [7]:
df = pd.DataFrame()
for file_name in os.listdir('checkpoints/'):
    file_path = 'checkpoints/' + file_name
    df_ = pd.read_csv(file_path)
    df = pd.concat([df,df_])
df.to_csv('data.csv',index= False)

In [ ]:
# dealing with the null values

In [11]:
df = pd.read_csv('data.csv')
# df.isnull().sum()
os.listdir('checkpoints/')

['60.csv',
 '10.csv',
 '70.csv',
 '30.csv',
 '90.csv',
 '40.csv',
 '50.csv',
 '80.csv',
 '100.csv',
 '20.csv']

In [9]:
df.describe()

       marked_price  discounted_price       rating  rating_count
count   4547.000000       4547.000000  4950.000000   4799.000000
mean    3113.535958       1508.075654     3.568586     17.337112
std     2679.077141       1736.817450     1.501783     23.991249
min       72.000000         63.000000     0.000000      0.000000
25%     1499.000000        675.000000     3.900000      1.500000
50%     2399.000000        993.000000     4.200000      5.100000
75%     3899.000000       1619.000000     4.300000     24.000000
max    29999.000000      21999.000000     5.000000     99.000000

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   prod_name         150 non-null    object
 1   brand_name        150 non-null    object
 2   marked_price      145 non-null    float64
 3   discounted_price  145 non-null    float64
 4   rating            150 non-null    float64
 5   rating_count      143 non-null    float64
 6   size              150 non-null    object
 7   product_link      150 non-null    object
 8   img_link          150 non-null    object
dtypes: float64(4), object(5)
memory usage: 10.7+ KB

In [10]:
#

(4950, 9)

5000