In [1]:
import pandas as pd 
df = pd.read_csv('data.csv')
df.head()

,prod_name,brand_name,marked_price,discounted_price,rating,rating_count,size,product_link,img_link
0,Slim Fit Casual Shirt,WROGN,2399.0,1439.0,4.2,54.0,39,https://www.myntra.com/shirts/wrogn/wrogn-men-...,"https://assets.myntassets.com/dpr_2,q_60,w_210..."
1,Women Skinny Fit High-Rise Jeans,Kraus Jeans,1995.0,1795.0,4.4,6.0,28,https://www.myntra.com/jeans/kraus-jeans/kraus...,"https://assets.myntassets.com/dpr_2,q_60,w_210..."
2,Men Handcrafted Sandals,House of Pataudi,2499.0,1199.0,4.1,5.0,UK8,https://www.myntra.com/sandals/house-of-pataud...,"https://assets.myntassets.com/dpr_2,q_60,w_210..."
3,Hyaluron Shampoo-180ml,LOreal,209.0,177.0,4.5,2.2,150-180 ML,https://www.myntra.com/shampoo-and-conditioner...,"https://assets.myntassets.com/dpr_2,q_60,w_210..."
4,Women Anarkali Kurta,KALINI,2399.0,767.0,4.2,1.2,XXL,https://www.myntra.com/kurtas/kalini/kalini-wo...,"https://assets.myntassets.com/dpr_2,q_60,w_210..."

In [2]:
# checking the null values

In [4]:
df.isnull().sum()

prod_name              0
brand_name             0
marked_price         403
discounted_price     403
rating                 0
rating_count         151
size                   0
product_link           0
img_link            1170
dtype: int64

In [5]:
# drop the null values

In [6]:
df = df.dropna()
df.isnull().sum()

prod_name           0
brand_name          0
marked_price        0
discounted_price    0
rating              0
rating_count        0
size                0
product_link        0
img_link            0
dtype: int64

In [7]:
df.shape

(3383, 9)

In [8]:
# preprocessing the rating count

In [ ]:
# dealing with marked price

In [ ]:
# dealing with discounted price

In [ ]:
# data exploration 
#### how many brands we are having in the dataset
#### what is the maximum marked price of the product
#### what is the maximum discounted price of the product
#### name the product with maximum marked price
#### name the product with maximum discounted price

In [ ]:
# addding the discount column 
#### adding discount percentage column

In [13]:
int((listedPrice-sellingPrice)/listedPrice*100)    # discount formula

36

In [ ]:
# product with maximum discount
##### maximum discount price
##### maximum discount percentage

In [ ]:
# finding the cheapest product on myntra
##### product based on marked price

In [ ]:
#### product based on discounted price

In [ ]:
# saving the data