In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('playstore.csv')

In [3]:
df.head(2)

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,Free,10000.0,0.0,Everyone
1,Coloring book moana,FAMILY,3.9,974.0,14.0,Free,500000.0,0.0,Everyone

In [4]:
# groupby functions is used to when we need to deal with multiple category

# 1) print the number of paid and free apps

In [9]:
df.groupby('type').size()  # number of times unique number of element in the particular column has

type
Free    8897
Paid     751
dtype: int64

# 2) list number of apps in each category

In [12]:
df.groupby('category').size()

category
ART_AND_DESIGN           60
AUTO_AND_VEHICLES        85
BEAUTY                   53
BOOKS_AND_REFERENCE     221
BUSINESS                419
COMICS                   56
COMMUNICATION           316
DATING                  170
EDUCATION               102
ENTERTAINMENT            79
EVENTS                   64
FAMILY                 1902
FINANCE                 345
FOOD_AND_DRINK          112
GAME                    926
HEALTH_AND_FITNESS      287
HOUSE_AND_HOME           73
LIBRARIES_AND_DEMO       83
LIFESTYLE               369
MAPS_AND_NAVIGATION     131
MEDICAL                 396
NEWS_AND_MAGAZINES      254
PARENTING                60
PERSONALIZATION         374
PHOTOGRAPHY             281
PRODUCTIVITY            374
SHOPPING                202
SOCIAL                  239
SPORTS                  327
TOOLS                   827
TRAVEL_AND_LOCAL        219
VIDEO_PLAYERS           163
WEATHER                  79
dtype: int64

# 3) top categories in terms of numbr of applications

In [13]:
df.groupby('category').size().sort_values(ascending = False).head()

category
FAMILY      1902
GAME         926
TOOLS        827
BUSINESS     419
MEDICAL      396
dtype: int64

# 4) Top 5 content_rating in terms of number of application

In [14]:
df.groupby('content_rating').size().sort_values(ascending= False).head()

content_rating
Everyone           7893
Teen               1036
Mature 17+          393
Everyone 10+        321
Adults only 18+       3
dtype: int64

# 5) Average Price apps in each content_rating

In [16]:
df.head(2)

,app,category,rating,review,size,type,installs,price,content_rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,Free,10000.0,0.0,Everyone
1,Coloring book moana,FAMILY,3.9,974.0,14.0,Free,500000.0,0.0,Everyone

In [18]:
df.groupby('content_rating')['price'].mean()

content_rating
Adults only 18+     0.000000
Everyone           92.110984
Everyone 10+       32.616822
Mature 17+         19.475827
Teen               47.497104
Unrated             0.000000
Name: price, dtype: float64

# 6) maximum/minimum Price apps in each content rating

In [21]:
print('maximum price',df.groupby('content_rating')['price'].max())
print('minimum price',df.groupby('content_rating')['price'].min())

maximum price content_rating
Adults only 18+        0.0
Everyone           30000.0
Everyone 10+        1499.0
Mature 17+          2249.0
Teen               29999.0
Unrated                0.0
Name: price, dtype: float64
minimum price content_rating
Adults only 18+    0.0
Everyone           0.0
Everyone 10+       0.0
Mature 17+         0.0
Teen               0.0
Unrated            0.0
Name: price, dtype: float64

# 7)Average number of reviews in each category

In [33]:
df.groupby('category')['review'].mean()

category
ART_AND_DESIGN          23499.850000
AUTO_AND_VEHICLES       13690.188235
BEAUTY                   7476.226415
BOOKS_AND_REFERENCE     75669.072398
BUSINESS                23155.558473
COMICS                  41828.553571
COMMUNICATION          904508.914557
DATING                  21316.705882
EDUCATION               54741.245098
ENTERTAINMENT          185556.772152
EVENTS                   2515.906250
FAMILY                 181786.452681
FINANCE                 36703.976812
FOOD_AND_DRINK          56482.017857
GAME                   459221.650108
HEALTH_AND_FITNESS      73309.456446
HOUSE_AND_HOME          26435.465753
LIBRARIES_AND_DEMO      10683.144578
LIFESTYLE               32065.189702
MAPS_AND_NAVIGATION    135268.534351
MEDICAL                  3250.209596
NEWS_AND_MAGAZINES      91027.149606
PARENTING               15972.183333
PERSONALIZATION        143133.042781
PHOTOGRAPHY            375646.992883
PRODUCTIVITY           148583.812834
SHOPPING               220420.059406
SOCIAL                 953147.962343
SPORTS                 181672.581040
TOOLS                  277424.084643
TRAVEL_AND_LOCAL       122452.205479
VIDEO_PLAYERS          413035.607362
WEATHER                155623.367089
Name: review, dtype: float64

# 8) Top 5 categories in terms of total number of reviews

In [30]:
df.groupby('category')['review'].sum().sort_values(ascending = False).head()

category
GAME             425239248.0
FAMILY           345757833.0
COMMUNICATION    285824817.0
TOOLS            229429718.0
SOCIAL           227802363.0
Name: review, dtype: float64