# Importing the libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

# Loading the Dataset

In [2]:
df = pd.read_csv('covid_19_india.csv')
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

# Learning about the Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18110 non-null  int64
 1   Date                      18110 non-null  object
 2   Time                      18110 non-null  object
 3   State/UnionTerritory      18110 non-null  object
 4   ConfirmedIndianNational   18110 non-null  object
 5   ConfirmedForeignNational  18110 non-null  object
 6   Cured                     18110 non-null  int64
 7   Deaths                    18110 non-null  int64
 8   Confirmed                 18110 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [4]:
df.nunique()

Sno                         18110
Date                          560
Time                            7
State/UnionTerritory           46
ConfirmedIndianNational        62
ConfirmedForeignNational       12
Cured                       14445
Deaths                       6471
Confirmed                   14971
dtype: int64

In [5]:
df.describe()

                Sno         Cured         Deaths     Confirmed
count  18110.000000  1.811000e+04   18110.000000  1.811000e+04
mean    9055.500000  2.786375e+05    4052.402264  3.010314e+05
std     5228.051023  6.148909e+05   10919.076411  6.561489e+05
min        1.000000  0.000000e+00       0.000000  0.000000e+00
25%     4528.250000  3.360250e+03      32.000000  4.376750e+03
50%     9055.500000  3.336400e+04     588.000000  3.977350e+04
75%    13582.750000  2.788698e+05    3643.750000  3.001498e+05
max    18110.000000  6.159676e+06  134201.000000  6.363442e+06

In [6]:
df.shape

(18110, 9)

# Describing the null present in the data

In [7]:
df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

# Removing the unwanted row

In [8]:
del df['Sno']

In [9]:
# pre-processing the data

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year']= df['Date'].dt.year
df.head()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year
0,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1,2020
1,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,31,1,2020
2,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,1,2,2020
3,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2,2020
4,2020-02-03,6:00 PM,Kerala,3,0,0,0,3,3,2,2020

In [12]:
df['Time'] = pd.to_datetime(df['Time'])

In [13]:
df['Hour'] = df['Time'].dt.hour

In [14]:
del df['Date']
del df['Time']

In [15]:
len(df['State/UnionTerritory'].unique())

46

In [16]:
df.head()

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
0,Kerala,1,0,0,0,1,30,1,2020,18
1,Kerala,1,0,0,0,1,31,1,2020,18
2,Kerala,2,0,0,0,2,1,2,2020,18
3,Kerala,3,0,0,0,3,2,2,2020,18
4,Kerala,3,0,0,0,3,3,2,2020,18

In [17]:
# pre processing the confirmedIndianNational

In [18]:
data = []
for i in df['ConfirmedIndianNational']:
    if i == '-':
        data.append(int(i.replace('-','0')))
    else:
        data.append(int(i))
df['ConfirmedIndianNational'] = data

In [19]:
# preprocessing the ConfirmedForeignNational column

In [20]:
data = []
for i in df['ConfirmedForeignNational']:
    if i == '-':
        data.append(int(i.replace('-','0')))
    else:
        data.append(int(i))
df['ConfirmedForeignNational'] = data

In [21]:
# preprocessing the Cured column

In [22]:
cures = []
for i in df['Cured']:
    cures.append(int(i))
df['Cured'] = cures
df.head()

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
0,Kerala,1,0,0,0,1,30,1,2020,18
1,Kerala,1,0,0,0,1,31,1,2020,18
2,Kerala,2,0,0,0,2,1,2,2020,18
3,Kerala,3,0,0,0,3,2,2,2020,18
4,Kerala,3,0,0,0,3,3,2,2020,18

In [23]:
# preprocessing the confirmed column

In [24]:
confirm = []
for i in df['Confirmed']:
    confirm.append(int(i))
df['Confirmed'] = confirm

In [25]:
states = []

for state in df['State/UnionTerritory']:
    states.append(state)
    
states =list(set(states))

In [38]:
df[df['State/UnionTerritory'] == 'Cases being reassigned to states'].sort_values(by ='Confirmed',ascending = False)

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
3242,Cases being reassigned to states,0,0,0,0,9265,20,6,2020,8
2881,Cases being reassigned to states,0,0,0,0,9227,10,6,2020,8
2809,Cases being reassigned to states,0,0,0,0,9189,8,6,2020,8
3278,Cases being reassigned to states,0,0,0,0,9127,21,6,2020,8
2918,Cases being reassigned to states,0,0,0,0,8931,11,6,2020,8
3206,Cases being reassigned to states,0,0,0,0,8927,19,6,2020,8
2845,Cases being reassigned to states,0,0,0,0,8803,9,6,2020,8
3170,Cases being reassigned to states,0,0,0,0,8703,18,6,2020,8
2773,Cases being reassigned to states,0,0,0,0,8605,7,6,2020,8
3422,Cases being reassigned to states,0,0,0,0,8493,25,6,2020,8
2954,Cases being reassigned to states,0,0,0,0,8315,12,6,2020,8
3134,Cases being reassigned to states,0,0,0,0,8273,17,6,2020,8
2737,Cases being reassigned to states,0,0,0,0,8192,6,6,2020,8
3386,Cases being reassigned to states,0,0,0,0,8141,24,6,2020,8
3458,Cases being reassigned to states,0,0,0,0,8123,26,6,2020,8
3494,Cases being reassigned to states,0,0,0,0,8023,27,6,2020,8
3350,Cases being reassigned to states,0,0,0,0,8015,23,6,2020,8
2990,Cases being reassigned to states,0,0,0,0,7984,13,6,2020,8
3530,Cases being reassigned to states,0,0,0,0,7839,28,6,2020,8
3314,Cases being reassigned to states,0,0,0,0,7832,22,6,2020,8
3098,Cases being reassigned to states,0,0,0,0,7684,16,6,2020,8
2701,Cases being reassigned to states,0,0,0,0,7610,5,6,2020,8
2665,Cases being reassigned to states,0,0,0,0,7483,4,6,2020,8
3026,Cases being reassigned to states,0,0,0,0,7436,14,6,2020,8
3566,Cases being reassigned to states,0,0,0,0,7285,29,6,2020,8
2629,Cases being reassigned to states,0,0,0,0,7123,3,6,2020,8
3602,Cases being reassigned to states,0,0,0,0,7004,30,6,2020,8
3062,Cases being reassigned to states,0,0,0,0,6972,15,6,2020,8
3638,Cases being reassigned to states,0,0,0,0,6915,1,7,2020,8
3674,Cases being reassigned to states,0,0,0,0,6832,2,7,2020,8
2593,Cases being reassigned to states,0,0,0,0,6414,2,6,2020,8
3710,Cases being reassigned to states,0,0,0,0,6031,3,7,2020,8
2557,Cases being reassigned to states,0,0,0,0,5630,1,6,2020,8
2521,Cases being reassigned to states,0,0,0,0,5491,31,5,2020,8
2485,Cases being reassigned to states,0,0,0,0,5043,30,5,2020,8
3854,Cases being reassigned to states,0,0,0,0,5034,7,7,2020,8
3890,Cases being reassigned to states,0,0,0,0,5018,8,7,2020,8
3746,Cases being reassigned to states,0,0,0,0,4999,4,7,2020,8
3818,Cases being reassigned to states,0,0,0,0,4913,6,7,2020,8
2449,Cases being reassigned to states,0,0,0,0,4673,29,5,2020,8
3782,Cases being reassigned to states,0,0,0,0,4629,5,7,2020,8
3926,Cases being reassigned to states,0,0,0,0,4385,9,7,2020,8
2413,Cases being reassigned to states,0,0,0,0,4332,28,5,2020,8
3962,Cases being reassigned to states,0,0,0,0,4161,10,7,2020,8
2377,Cases being reassigned to states,0,0,0,0,4013,27,5,2020,8
3998,Cases being reassigned to states,0,0,0,0,3416,11,7,2020,8
4034,Cases being reassigned to states,0,0,0,0,3024,12,7,2020,8
2341,Cases being reassigned to states,0,0,0,0,2970,26,5,2020,8
2305,Cases being reassigned to states,0,0,0,0,2642,25,5,2020,8
4070,Cases being reassigned to states,0,0,0,0,2358,13,7,2020,8
2270,Cases being reassigned to states,0,0,0,0,2338,24,5,2020,8
4106,Cases being reassigned to states,0,0,0,0,2179,14,7,2020,8
2235,Cases being reassigned to states,0,0,0,0,1899,23,5,2020,8
2201,Cases being reassigned to states,0,0,0,0,1620,22,5,2020,8
4142,Cases being reassigned to states,0,0,0,0,1524,15,7,2020,8
2167,Cases being reassigned to states,0,0,0,0,1403,21,5,2020,8
4178,Cases being reassigned to states,0,0,0,0,1285,16,7,2020,8
2133,Cases being reassigned to states,0,0,0,0,1096,20,5,2020,8
4214,Cases being reassigned to states,0,0,0,0,531,17,7,2020,8
4250,Cases being reassigned to states,0,0,0,0,163,18,7,2020,8

In [27]:
print(len(df))

18110

In [28]:
18050/18110

0.9966869133075649

In [29]:
for state in states:
    count = 0
    for i in df.values:
        if state == i[0]:
            count += i[1]
    print(state,'|',count)

Maharashtra | 1111
Uttar Pradesh | 462
Cases being reassigned to states | 0
Meghalaya | 0
Delhi | 352
Andaman and Nicobar Islands | 8
Tamil Nadu | 138
Jammu and Kashmir | 95
Haryana | 111
Kerala | 1091
Daman & Diu | 0
Sikkim | 0
Madhya Pradesh | 105
Bihar | 32
Nagaland | 0
Tripura | 0
Karnataka | 405
Andhra Pradesh | 81
Telengana | 246
Punjab | 231
Odisha | 23
Assam | 0
Gujarat | 256
Dadra and Nagar Haveli and Daman and Diu | 0
Uttarakhand | 35
Dadra and Nagar Haveli | 0
Himanchal Pradesh | 0
Ladakh | 162
Arunachal Pradesh | 0
Karanataka | 0
Puducherry | 11
Goa | 9
Unassigned | 0
Maharashtra*** | 0
Rajasthan | 296
Jharkhand | 0
Chandigarh | 50
Manipur | 5
Madhya Pradesh*** | 0
Bihar**** | 0
Mizoram | 4
Chhattisgarh | 25
Telangana | 0
West Bengal | 71
Himachal Pradesh | 21
Lakshadweep | 0

# Column analysis

In [30]:
df[df['State/UnionTerritory'] == 'Kerala']

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
0,Kerala,1,0,0,0,1,30,1,2020,18
1,Kerala,1,0,0,0,1,31,1,2020,18
2,Kerala,2,0,0,0,2,1,2,2020,18
3,Kerala,3,0,0,0,3,2,2,2020,18
4,Kerala,3,0,0,0,3,3,2,2020,18
...,...,...,...,...,...,...,...,...,...,...
17946,Kerala,0,0,3317314,17515,3513551,7,8,2021,8
17982,Kerala,0,0,3337579,17654,3533918,8,8,2021,8
18018,Kerala,0,0,3357687,17747,3552525,9,8,2021,8
18054,Kerala,0,0,3377691,17852,3565574,10,8,2021,8
18090,Kerala,0,0,3396184,18004,3586693,11,8,2021,8

In [31]:
lst = []
for i in (df['State/UnionTerritory'].unique()):
    lst.append(df[df['State/UnionTerritory'] == i])

In [32]:
lst

[      State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 0                   Kerala                        1                         0
 1                   Kerala                        1                         0
 2                   Kerala                        2                         0
 3                   Kerala                        3                         0
 4                   Kerala                        3                         0
 ...                    ...                      ...                       ...
 17946               Kerala                        0                         0
 17982               Kerala                        0                         0
 18018               Kerala                        0                         0
 18054               Kerala                        0                         0
 18090               Kerala                        0                         0

          Cured  Deaths  Confirmed  day  month  year  Hour
 0            0       0          1   30      1  2020    18
 1            0       0          1   31      1  2020    18
 2            0       0          2    1      2  2020    18
 3            0       0          3    2      2  2020    18
 4            0       0          3    3      2  2020    18
 ...        ...     ...        ...  ...    ...   ...   ...
 17946  3317314   17515    3513551    7      8  2021     8
 17982  3337579   17654    3533918    8      8  2021     8
 18018  3357687   17747    3552525    9      8  2021     8
 18054  3377691   17852    3565574   10      8  2021     8
 18090  3396184   18004    3586693   11      8  2021     8

 [560 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 32               Telengana                        1                         0
 35               Telengana                        1                         0
 43               Telengana                        1                         0
 49               Telengana                        1                         0
 56               Telengana                        1                         0
 ...                    ...                      ...                       ...
 14289            Telengana                        0                         0
 14325            Telengana                        0                         0
 14361            Telengana                        0                         0
 14397            Telengana                        0                         0
 14433            Telengana                        0                         0

         Cured  Deaths  Confirmed  day  month  year  Hour
 32          0       0          1    2      3  2020    18
 35          0       0          1    3      3  2020    18
 43          0       0          1    4      3  2020    18
 49          0       0          1    5      3  2020    18
 56          0       0          1    6      3  2020    18
 ...       ...     ...        ...  ...    ...   ...   ...
 14289  340590    2094     411905   27      4  2021     8
 14325  345683    2150     419966   28      4  2021     8
 14361  349692    2208     427960   29      4  2021     8
 14397  355618    2261     435606   30      4  2021     8
 14433  362160    2312     443360    1      5  2021     8

 [426 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 34                   Delhi                        1                         0
 38                   Delhi                        1                         0
 42                   Delhi                        1                         0
 45                   Delhi                        2                         0
 51                   Delhi                        3                         0
 ...                    ...                      ...                       ...
 17938                Delhi                        0                         0
 17974                Delhi                        0                         0
 18010                Delhi                        0                         0
 18046                Delhi                        0                         0
 18082                Delhi                        0                         0

          Cured  Deaths  Confirmed  day  month  year  Hour
 34           0       0          1    2      3  2020    18
 38           0       0          1    3      3  2020    18
 42           0       0          1    4      3  2020    18
 45           0       0          2    5      3  2020    18
 51           0       0          3    6      3  2020    18
 ...        ...     ...        ...  ...    ...   ...   ...
 17938  1411042   25065    1436623    7      8  2021     8
 17974  1411064   25066    1436695    8      8  2021     8
 18010  1411159   25066    1436761    9      8  2021     8
 18046  1411235   25067    1436800   10      8  2021     8
 18082  1411280   25068    1436852   11      8  2021     8

 [528 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 36               Rajasthan                        0                         1
 44               Rajasthan                        1                        14
 48               Rajasthan                        1                        14
 54               Rajasthan                        1                        14
 64               Rajasthan                        1                        14
 ...                    ...                      ...                       ...
 17958            Rajasthan                        0                         0
 17994            Rajasthan                        0                         0
 18030            Rajasthan                        0                         0
 18066            Rajasthan                        0                         0
 18102            Rajasthan                        0                         0

         Cured  Deaths  Confirmed  day  month  year  Hour
 36          0       0          1    3      3  2020    18
 44          0       0         15    4      3  2020    18
 48          0       0         15    5      3  2020    18
 54          0       0         15    6      3  2020    18
 64          0       0         15    7      3  2020    18
 ...       ...     ...        ...  ...    ...   ...   ...
 17958  944606    8954     953793    7      8  2021     8
 17994  944621    8954     953812    8      8  2021     8
 18030  944636    8954     953827    9      8  2021     8
 18066  944670    8954     953840   10      8  2021     8
 18102  944700    8954     953851   11      8  2021     8

 [527 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 39           Uttar Pradesh                        6                         0
 50           Uttar Pradesh                        7                         0
 55           Uttar Pradesh                        7                         0
 58           Uttar Pradesh                        7                         0
 72           Uttar Pradesh                        7                         0
 ...                    ...                      ...                       ...
 17964        Uttar Pradesh                        0                         0
 18000        Uttar Pradesh                        0                         0
 18036        Uttar Pradesh                        0                         0
 18072        Uttar Pradesh                        0                         0
 18108        Uttar Pradesh                        0                         0

          Cured  Deaths  Confirmed  day  month  year  Hour
 39           0       0          6    4      3  2020    18
 50           0       0          7    5      3  2020    18
 55           0       0          7    6      3  2020    18
 58           0       0          7    7      3  2020    18
 72           0       0          7    8      3  2020    18
 ...        ...     ...        ...  ...    ...   ...   ...
 17964  1685299   22771    1708689    7      8  2021     8
 18000  1685357   22773    1708716    8      8  2021     8
 18036  1685406   22773    1708772    9      8  2021     8
 18072  1685449   22774    1708793   10      8  2021     8
 18108  1685492   22775    1708812   11      8  2021     8

 [526 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 41                 Haryana                        0                         2
 46                 Haryana                        0                         2
 52                 Haryana                        0                         2
 63                 Haryana                        0                         2
 70                 Haryana                        0                         2
 ...                    ...                      ...                       ...
 17941              Haryana                        0                         0
 17977              Haryana                        0                         0
 18013              Haryana                        0                         0
 18049              Haryana                        0                         0
 18085              Haryana                        0                         0

         Cured  Deaths  Confirmed  day  month  year  Hour
 41          0       0          2    4      3  2020    18
 46          0       0          2    5      3  2020    18
 52          0       0          2    6      3  2020    18
 63          0       0          2    7      3  2020    18
 70          0       0          2    8      3  2020    18
 ...       ...     ...        ...  ...    ...   ...   ...
 17941  759705    9647     770042    7      8  2021     8
 17977  759727    9648     770060    8      8  2021     8
 18013  759751    9649     770079    9      8  2021     8
 18049  759769    9650     770091   10      8  2021     8
 18085  759790    9652     770114   11      8  2021     8

 [526 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 59                  Ladakh                        2                         0
 65                  Ladakh                        2                         0
 73                  Ladakh                        2                         0
 86                  Ladakh                        2                         0
 104                 Ladakh                        2                         0
 ...                    ...                      ...                       ...
 17947               Ladakh                        0                         0
 17983               Ladakh                        0                         0
 18019               Ladakh                        0                         0
 18055               Ladakh                        0                         0
 18091               Ladakh                        0                         0

        Cured  Deaths  Confirmed  day  month  year  Hour
 59         0       0          2    7      3  2020    18
 65         0       0          2    8      3  2020    18
 73         0       0          2    9      3  2020    18
 86         0       0          2   10      3  2020    18
 104        0       0          2   11      3  2020    18
 ...      ...     ...        ...  ...    ...   ...   ...
 17947  20106     207      20378    7      8  2021     8
 17983  20113     207      20385    8      8  2021     8
 18019  20117     207      20393    9      8  2021     8
 18055  20121     207      20400   10      8  2021     8
 18091  20130     207      20411   11      8  2021     8

 [523 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 61              Tamil Nadu                        1                         0
 67              Tamil Nadu                        1                         0
 79              Tamil Nadu                        1                         0
 94              Tamil Nadu                        1                         0
 105             Tamil Nadu                        1                         0
 ...                    ...                      ...                       ...
 17960           Tamil Nadu                        0                         0
 17996           Tamil Nadu                        0                         0
 18032           Tamil Nadu                        0                         0
 18068           Tamil Nadu                        0                         0
 18104           Tamil Nadu                        0                         0

          Cured  Deaths  Confirmed  day  month  year  Hour
 61           0       0          1    7      3  2020    18
 67           0       0          1    8      3  2020    18
 79           0       0          1    9      3  2020    18
 94           0       0          1   10      3  2020    18
 105          0       0          1   11      3  2020    18
 ...        ...     ...        ...  ...    ...   ...   ...
 17960  2516938   34260    2571383    7      8  2021     8
 17996  2518777   34289    2573352    8      8  2021     8
 18032  2520584   34317    2575308    9      8  2021     8
 18068  2522470   34340    2577237   10      8  2021     8
 18104  2524400   34367    2579130   11      8  2021     8

 [523 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 74               Karnataka                        1                         0
 89               Karnataka                        4                         0
 108              Karnataka                        4                         0
 119              Karnataka                        4                         0
 132              Karnataka                        6                         0
 ...                    ...                      ...                       ...
 17945            Karnataka                        0                         0
 17981            Karnataka                        0                         0
 18017            Karnataka                        0                         0
 18053            Karnataka                        0                         0
 18089            Karnataka                        0                         0

          Cured  Deaths  Confirmed  day  month  year  Hour
 74           0       0          1    9      3  2020    18
 89           0       0          4   10      3  2020    18
 108          0       0          4   11      3  2020    18
 119          0       0          4   12      3  2020    18
 132          0       1          6   13      3  2020    18
 ...        ...     ...        ...  ...    ...   ...   ...
 17945  2854222   36741    2915317    7      8  2021     8
 17981  2855862   36773    2916927    8      8  2021     8
 18017  2857776   36793    2918525    9      8  2021     8
 18053  2859552   36817    2919711   10      8  2021     8
 18089  2861499   36848    2921049   11      8  2021     8

 [520 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 76             Maharashtra                        2                         0
 91             Maharashtra                        5                         0
 97             Maharashtra                        2                         0
 120            Maharashtra                       11                         0
 133            Maharashtra                       14                         0
 ...                    ...                      ...                       ...
 17950          Maharashtra                        0                         0
 17986          Maharashtra                        0                         0
 18022          Maharashtra                        0                         0
 18058          Maharashtra                        0                         0
 18094          Maharashtra                        0                         0

          Cured  Deaths  Confirmed  day  month  year  Hour
 76           0       0          2    9      3  2020    18
 91           0       0          5   10      3  2020    18
 97           0       0          2   11      3  2020    18
 120          0       0         11   12      3  2020    18
 133          0       0         14   13      3  2020    18
 ...        ...     ...        ...  ...    ...   ...   ...
 17950  6130137  133717    6341759    7      8  2021     8
 17986  6139493  133845    6347820    8      8  2021     8
 18022  6144388  133996    6353328    9      8  2021     8
 18058  6151956  134064    6357833   10      8  2021     8
 18094  6159676  134201    6363442   11      8  2021     8

 [520 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 77                  Punjab                        1                         0
 92                  Punjab                        1                         0
 107                 Punjab                        1                         0
 118                 Punjab                        1                         0
 131                 Punjab                        1                         0
 ...                    ...                      ...                       ...
 17957               Punjab                        0                         0
 17993               Punjab                        0                         0
 18029               Punjab                        0                         0
 18065               Punjab                        0                         0
 18101               Punjab                        0                         0

         Cured  Deaths  Confirmed  day  month  year  Hour
 77          0       0          1    9      3  2020    18
 92          0       0          1   10      3  2020    18
 107         0       0          1   11      3  2020    18
 118         0       0          1   12      3  2020    18
 131         0       0          1   13      3  2020    18
 ...       ...     ...        ...  ...    ...   ...   ...
 17957  582580   16312     599365    7      8  2021     8
 17993  582654   16313     599428    8      8  2021     8
 18029  582710   16316     599482    9      8  2021     8
 18065  582753   16320     599514   10      8  2021     8
 18101  582791   16322     599573   11      8  2021     8

 [521 rows x 10 columns],
       State/UnionTerritory  ConfirmedIndianNational  ConfirmedForeignNational  \
 81       Jammu and Kashmir                        1                         0
 96       Jammu and Kashmir                        1                         0
 106      Jammu and Kashmir                        1                         0
 117      Jammu and Kashmir                        1                         0
 130      Jammu and Kashmir                        1                         0
 ...                    ...                      ...                       ...
 17943    Jammu and Kashmir                        0                         0
 17979    Jammu and Kashmir                        0                         0
 18015    Jammu and Kashmir                        0                         0
 18051    Jammu and Kashmir                        0                         0
 18087    Jammu and Kashmir                        0                         0

         Cured  Deaths  Confirmed  day  month  year  Hour
 81          0       0          1    9      3  2020    18
 96          0       0          1   10      3  2020    18
 106         0       0          1   11      3  2020    18
 117         0       0          1   12      3  2020    18
 130         0       0          1   13      3  2020    18
 ...       ...     ...        ...  ...    ...   ...   ...
 17943  316496    4386     322286    7      8  2021     8
 17979  316632    4386     322428    8      8  2021     8

In [33]:
df.head()

,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day,month,year,Hour
0,Kerala,1,0,0,0,1,30,1,2020,18
1,Kerala,1,0,0,0,1,31,1,2020,18
2,Kerala,2,0,0,0,2,1,2,2020,18
3,Kerala,3,0,0,0,3,2,2,2020,18
4,Kerala,3,0,0,0,3,3,2,2020,18